{% extends 'new-base.html.twig' %}


    {% block title %}Alternance {% endblock %}
    {% block og_title %}Alternance{% endblock %}

    {% block description %}{% endblock %}
    {% block og_description %}  {% endblock %}

    {% block keywords %}{% endblock %}

    {% block canonical %}https://silenus.fr{% endblock %}
    {% block og_link %}https://silenus.fr{% endblock %}

    {% block og_image %}https://silensus.fr/build/img/banner/ban0.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {{ encore_entry_link_tags('style') }}
        <style>
            .logo__symfony {
                witdh: 200px;
                height: 200px;
                border-radius: 50%;
            }

        </style>
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/bando/bando1.jpg",
        } 
    %}
    {# <a href="#present" class="butn butn-prim mar1" ><span class="label1">Symfony</span></a>
    <a href="#1" class="butn butn-prim mar1" ><span class="label1">Compétences</span></a>
    <a href="#2" class="butn butn-prim mar1" ><span class="label1">Recherche</span></a>
    <a href="#3" class="butn butn-prim mar1" ><span class="label1">Alternance</span></a> #}

    {% include "partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# header----------------------------------------------------------------------- #}
        {% include "partials/headerMainUp.html.twig" 
            with {
                title: "Alternance",
                subTitle: "Conception d'applications web",
                idDown: "1",
                banner: "build/img/banner/ban0.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        {# <a href="{{ path('app_cv_dev') }}" class="butn butn-prim marx1" ><span class="label1">SYMFONY</span></a> #}
        <div class="butn butn-second " ><span class="label1">Alternance</span></div>
        <a href="{{ path('app_new_cv') }}" class="butn butn-prim " ><span class="label1">CV</span></a>
        <a href="{{ path('app_symfony') }}" class="butn butn-prim " ><span class="label1">Symfony</span></a>
        <a href="{{ path('app_projets') }}" class="butn butn-prim " ><span class="label1">Projets</span></a>
        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">

        <section  class="section__minor bk-drk2 shdw-in-D pad3">
            <h2 class="title2 txt-second">Recherche</h2>
            <hr class="hr-soft">
            <section class="shdw-in-D brdr-rad10 pad3 ">
            <p class="txt-soft">
            Junior, je progresse tous les jours en développement Web.<br><br>
            J'ai envie de trouver une entreprise avec <strong class="txt-second">une équipe pour me challenger</strong>.<br><br>
            J'ai besoin d'être au contact d'une équipe et d'appendre auprés de séniors et de dévelopeurs plus experimentés.<br><br>
            Je recherche activement une entreprise :<br><br>
            <strong class="title4 txt-second">Pour une alternance</strong><br><br>


            <strong class="sub-title3 txt-second-light">Si vous cherchez un développeur enthousiaste et motivé, <br>
            Contactez moi !</strong><br><br>
            <a href="mailto:yannicktindy@gmail.com" class="butn butn-prim marx1" ><i class="fas fa-envelope"></i>Yannick Tindy</a>
            <br><br>
            </section>

        </section>
        
        {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorUp.html.twig" 
            with {
                idSection: "1",
                title: "CDA",
                idUp: "present",
                idDown: "footer",
                banner: "build/img/banner/ban1.jpg",
            } 
        %}
        <h3 class="title3 txt-second mar0">Alternance Human Booster</h3>
        <h4 class="sub-title3 txt-second-light mar0">Concepteur / Développeur d'Application (Bac+3/4)</h4><br>
        <p class="txt-soft">La CDA est pour moi un moyen efficace d'integrer la dynamique d'un projet d'entreprise mais aussi de valider mes compétences acquises.<br>
            Si vous recherchez un alternant déja autonome et performant en développement web, versioning git n'hésitez pas à me contacter.
        </p>
        <hr class="hr-soft">
        <section class="shdw-in-D brdr-rad10 pad3 ">
            <h4 class="title4 txt-second">1 : Timing</h4><br>
            <p class="txt-soft">La formation débute en Septembre<br>
                - Sur 22 mois<br>
                <strong class="txt-second-light">- 14 mois en entreprise</strong>
            </p>
        </section>
        <hr class="hr-soft">
        <section class="shdw-in-D brdr-rad10 pad3 ">
            <h4 class="title4 txt-second">2 : Contenu</h4><br>
            <p class="txt-soft"> 
                - Concevoir et développer des composants d’interface utilisateur<br>
                - Concevoir et développer la persistance des données <br>
                - Concevoir et développer une application multicouche répartie<br>
                - <stong>Intégrer les recommandations de sécurité à chaque étape</strong><br>
                - Compétences transverses
            </p>
            <p class="txt-soft">Vous trouverez le développé des contenus sur le site de l'organisme :</p>
            <a href="https://humanbooster.com/programmes/alternance-concepteur-developpeur-dapplications-2/" target="_blank" class="butn butn-prim">HUMAN BOOSTER</a>
                    
        </section>
        
        {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorDown.html.twig" %}
        {# ------------------------------------------------------------ #}
        
        <hr class="hr-blk">

        {# ------------------------------------------------------------ #}
        <section  class="section__minor bk-drk2 shdw-in-D pad3">
            <h2 class="title2 txt-second">Soft Skills</h2>
            <hr class="hr-soft">
            <section class="shdw-in-D brdr-rad10 pad3 ">
                <p class="txt-soft">
                <strong class="sub-title2 txt-second-light">Je suis :</strong><br><br>
                <strong class="butn butn-second">Fiable & Autonome :</strong> Mon experience professionnelle d'artisan luthier m'a appris à élaborer des solutions précises, pertinentes et efficaces.<br><br>
                <strong class="butn butn-second">Mature & Volontaire :</strong> Junior en développement, j'ai une experience professionnelle de 20 ans dans l'artisanat. 
                    J'ai le sens de l'optimisation et le goût du challenge technique.<br><br>
                <strong class="butn butn-second">Eduqué & cultivé :</strong> J'aime et je pense avoir un certain talent pour l'écriture. 
                    Ceci peut être un veritable atout au sein d'une entreprise pour les enjeux de communication et de documentation.<br><br>
                <strong class="butn butn-second">Enthousiaste & Empathique :</strong> J'aime me projeter dans de nouveaux projets et j'ai une capacité naturelle pour dynamiser et encourager les personnes qui m'entourent.<br><br>
                </p>  
            </section>
        </section>
        <hr class="hr-blk">

        {# ------------------------------------------------------------ #}
        {# ------------------------------------------------------------ #}
        {% include "partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}