<!-- <img src="img/9-16/back1.png" alt="photo de profil" class="aside-bk-img"> -->
<div class="menu disp-col-even-start padx1 fluid" style="background-image: url({{ asset('build/img/9-16/back1.png') }});">
    {# <img src="{{ asset('build/img/9-16/back1.png') }}" class="bk-menu fluid" alt="back1"> #}
    <div class="menu-content mar1 fluid">
        <div class="profil mar1" >
            <img src="{{ asset('build/img/square/profile.jpg') }}" class="fluid" alt="back1">
        </div>

        <div class="">
            <ul>
                <li><a href="#apropos" class="butn butn-succ dayNight m-2">A PROPOS</a></li>
                <li><a href="#cda" class="butn butn-succ dayNight m-2">OBJECTIF CDA</a></li>
                {# <li><a href="#projets" class="butn butn-succ dayNight m-2">PROJETS</a></li>  #}
                <li><a href="#symfony" class="butn butn-succ dayNight m-2">SYMFONY</a></li>
                <li><a href="#diplome" class="butn butn-succ dayNight m-2">DIPLOMES</a></li>
                <li><a href="#experiences" class="butn butn-succ dayNight m-2">EXPERIENCES</a></li>
                <li><a href="#presentation" class="butn butn-succ dayNight m-2">PRESENTATION</a></li>
                <li><a href="#information" class="butn butn-succ dayNight m-2">INFORMATIONS</a></li>                    
            </ul> 
        </div> 
    </div>    
<div>    