{% extends 'base2.html.twig' %}

    {% block title %}CV SYMFONY{% endblock %}
    {% block og_title %}CV SYMFONY{% endblock %}

    {% block description %}
        C'est le Back-End qui m'intéresse le plus. J'aime la création de bases de données performantes et je suis en progression sur les API. 
        Je suis conscient des enjeux de documentation et je recherche la robustesse et la sécurité des applications.
        Coté Front-end: CSS, JS et AJAX, sémantique HTML et automatisation dynamique des méta-données, micro-données et JsonLD pour un SEO optimal. 
        Développeur web Symfony, bac+2, j'ai découvert une passion pour la conception d'applications web après plus de 15 ans en tant que menuisier / luthier: accident de travail. 
        Après avoir expérimenté de nombreuses fonctionnalités de Symfony, je m'engage dans une démarche qualitative respectant les "best practices" pour le code en général. 
        Mon approche mature et rigoureuse est un atout pour livrer des projets maintenables et testables.
        Motivé par les défis techniques, capacité de travail importante, enthousiasme. Attention développeur passionné!
    {% endblock %}
    {% block og_description %}
        C'est le Back-End qui m'intéresse le plus. J'aime la création de bases de données performantes et je suis en progression sur les API. 
        Je suis conscient des enjeux de documentation et je recherche la robustesse et la sécurité des applications.
        Coté Front-end: CSS, JS et AJAX, sémantique HTML et automatisation dynamique des méta-données, micro-données et JsonLD pour un SEO optimal. 
        Développeur web Symfony bac+2, j'ai découvert une passion pour la conception d'applications web après plus de 15 ans en tant que menuisier / luthier: accident de travail. 
        Après avoir expérimenté de nombreuses fonctionnalités de Symfony, je m'engage dans une démarche qualitative respectant les "best practices" pour le code en général. 
        Mon approche mature et rigoureuse est un atout pour livrer des projets maintenables et testables. 
        Motivé par les défis techniques, capacité de travail importante, enthousiasme. Attention développeur passionné!
    {% endblock %}

    {% block keywords %}Développeur PHP Symfony , Conception application web, SEO optimisé, code best practice{% endblock %}

    {% block canonical %}http://silenus.fr{% endblock %}
    {% block og_link %}http://silenus.fr{% endblock %}

    {% block og_image %}http://silenus.fr/build/img/16-9/band0.png{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    
    <style>
        .corpus{
            width: 100%;
            max-width: 992px%;
            display: flex;

            justify-content: center
        
        }
        .sidebar{
            position: sticky;
            top: 0;
            width: 100%;
            max-width: 360px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;

        }
        .sidebar__content{
            width: 100%;
            height: 100%;
            flex-grow: 1;
            background-size: cover;
            background-position: center;
            border-radius: 15px;
            overflow: hidden;
            border: 1px solid black;
        }

        .newtrunk{
            width: 100%;
            max-width: 768px;
        }

        .myHeader{
            width: 100%;
            max-width: 768px;
            /* height: 100vh; */
            diplay: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .myHeader__banner{
            position: relative;
            width: 100%;
            height: 300px;
            /* max-height: 300px; */
            background-size: cover;
            background-position: center;
        }

        .myheader__logo {
            position: absolute;
            top: 20px;
            left: 40px;
            width: 150px;
            height: 150px;            

            background-size: cover;
            background-position: center;

        }

        .myHeader__title {
        }

        .myHeader__content {
            flex: 1;
        }

        .myHeader__annonce {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .myHeader__present {
            
        }
        .myNav__list {
            display: flex;
            justify-content: center; 
        }

        .myNav__item {
            margin: 0 10px;
            list-style: none;
        }

        .crd {
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
            overflow: hidden;
            transition-duration: 0.4s;
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
        }
        
        .bx-shadow-lum {
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
        }   
        .crd:hover {
            transform: scale(1.05);
        }

        .section-heading{
            width: 100%;
            height: 200px;
            /* max-height: 300px; */
            background-size: cover;
            background-position: center;

            display: flex;
            justify-content: space-between;
        }
        
        @media screen and (max-width: 992px) {
            .sidebar{
                max-width: 250px;
            }   
            
            .myHeader__banner{
                width: 100%;
                height: 250px;

                background-size: cover;
                background-position: center;
            }
        }

        .job__content {
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        @media screen and (max-width: 768px) {
            .sidebar{
                display: none;
            }

            .myheader__logo {
                position: absolute;
                top: 20px;
                left: 20px;
                width: 80px;
                height: 80px;
                background-size: cover;
                background-position: center;

            }
        }    
    </style>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div class="container-fluid bk-drk1 m-0 p-0">
    <div class="corpus">
        {# sidebar --------------------------------------------- #}
        <div class="sidebar pad2 bk-drk1 ">
            <div class="sidebar__content bk-drk d-col-center" style="background-image: url('{{ asset('build/img/9-16/back1.png') }}');">
                <div class="menu-content padx2 pady3 d-col-center fluid">
                    <div class="profil" >
                        <img src="{{ asset('build/img/square/profile.jpg') }}" class="fluid" alt="back1">
                    </div>

                    <div class="pad1">
                        <ul>
                            <li><a href="#apropos" class="butn butn-succ dayNight m-2">A PROPOS</a></li>
                            <li><a href="#cda" class="butn butn-succ dayNight m-2">OBJECTIF CDA</a></li>
                            {# <li><a href="#projets" class="butn butn-succ dayNight m-2">PROJETS</a></li>  #}
                            <li><a href="#symfony" class="butn butn-succ dayNight m-2">SYMFONY</a></li>
                            <li><a href="#diplome" class="butn butn-succ dayNight m-2">DIPLOMES</a></li>
                            <li><a href="#experiences" class="butn butn-succ dayNight m-2">EXPERIENCES</a></li>
                            <li><a href="#presentation" class="butn butn-succ dayNight m-2">PRESENTATION</a></li>
                            <li><a href="#information" class="butn butn-succ dayNight m-2">INFORMATIONS</a></li>                    
                        </ul> 
                    </div> 
                </div>
            </div>
        </div>

        {# newtrunk --------------------------------------------- #}
        <div class="newtrunk bk-drk2">
            {# header ------------------------------------------- #}
            <div id="apropos" class="myHeader fluid ">
                <div class="myHeader__banner" style="background-image: url('{{ asset('build/img/16-9/band0.png') }}');">
                    <div class="myheader__logo" style="background-image: url('{{ asset('build/img/gen/symfony.png') }}');"></div>
                </div>
                {# tiltes -------------------------------------------- #}
                <div class="myHeader__titles bk-blk fluid padx2 m-0">
                    <h2 class="txt-soft text-end">Yannick Tindy</h2>
                    <hr class="hr-succ">
                    <h1 class="txt-soft text-end pady1 m-0">Concepteur d'Applications <span class="txt-succ">SYMFONY</span></h1>       
                </div>
                {# nav----------------------------------------------- #}
                <div class="bk-drk3 disp-col-center-end padx2">
                    <div>
                    <p class="txt-lum text-end p-0 m-0">Mobilité Loire / Lyon</p>
                    <p class="txt-lum p-0 m-0">yanniktindy@gmail.com</p>
                    </div>
                </div>
                {# <ul class="myNav__list bk-drk3 m-0 pad1">
                    <li class="myNav__item">
                        <a href="#about" class="butn butn-succ marx1">SYMFONY</a>
                    </li>
                    <li class="myNav__item">
                        <a href="#" class="butn butn-succ marx1">CV</a>
                    </li>
                    <li class="myNav__item">
                        <a href="#" class="butn butn-succ marx1">BLOG</a>
                    </li>
                    <li class="myNav__item">
                        <a href="#" class="butn butn-succ marx1">MENU</a>
                    </li>
                </ul> #}

                {# carousel + crd -------------------------------------------- #}
                <div class="py-3 py-md-0"></div> {# spacer -------------------------------------------- #}
                <div class="myHeader__content fluid pad2 disp-center">
                
                    <div class="myHeader__annonce block-shadow disp-center butn-glow fluid py-5">
                        <div class="disp-even-center fluid">
                        
                            <div class="">
                                <h4 class="txt-soft text-center">Recherche Poste</h4>
                                <h3 class="txt-succ">Développeur PHP SYMFONY</h3>
                                <h3 class="txt-soft text-center">Back End ++</h3>
                            </div>
                            {# <div class="">
                                <a href="#presentation" class="butn butn-succ marx1">||</a>
                            </div>     #}
                        </div>
                    </div>  
                </div>  
            </div>
            {# presentation -------------------------------------------- #}
            {% include "cv/section/cda.html.twig" %}
            {# {% include "cv/section/projet.html.twig" %} #}
            {% include "cv/section/symfony.html.twig" %}
            {% include "cv/section/diplome.html.twig" %}
            {% include "cv/section/experience.html.twig" %}
            {% include "cv/section/presentation.html.twig" %}
            {% include "cv/section/info.html.twig" %}
           
        </div>
    </div>
</div>    

    

{% endblock %}
