{% extends 'new-base.html.twig' %}


    {% block title %}Développeur Symfony {% endblock %}
    {% block og_title %}Développeur Symfony{% endblock %}

    {% block description %}{% endblock %}
    {% block og_description %}  {% endblock %}

    {% block keywords %}{% endblock %}

    {% block canonical %}https://silenus.fr{% endblock %}
    {% block og_link %}https://silenus.fr{% endblock %}

    {% block og_image %}https://silensus.fr/build/img/mapped/square/test/{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {{ encore_entry_link_tags('style') }}
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/bando/bando1.jpg",
        } 
    %}

    {% include "partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# header----------------------------------------------------------------------- #}
        {% include "partials/headerMainUp.html.twig" 
            with {
                title: "Accueil",
                idDown: "1",
                banner: "build/img/banner/ban0.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        <a href="" class="butn butn-prim marx1" ><span class="label1">Symfony</span></a>
        <a href="" class="butn butn-prim marx1" ><span class="label1">CV</span></a>
        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
  



        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor bk-drk2 shdw-in-D pad3">
            <h2 class="title3 txt-second">Bienvenue sur <span class="txt-second-active">Silenus</span></h2>
            <h3 class="sub-title3 txt-second-light">28/08/2023</h3>
            <hr class="hr-soft">
            <p class="info1 txt-soft">Le site est en maintenance. Il sera disponible dans quelques heures.</p>
            {# <h2 class="sub-title3 txt-second-light">Présentation</h2> #}

        </section>





    </main>

    
{% endblock %}