<section id="apropos" class="disp-col-start centVH">

    <div class="disp-between-top padx2">
        <div>
            <h2 class="txt-succ mt-1">Yannick Tindy</h2>
            <h6 class="txt-light">Curriculum Vitae</h6>
        </div>
        <div class="disp-col-center-end py-2">
            {# ------------------------------------------------------------ #}
            <div class="disp-col-center-end">
                <div class="disp center">
                    {% if app.user %}
                        {# <div class="px-2"><p class="m-0 txt-light">Bonjour {{ app.user.username }}</p></div> #}
                        <div class="px-2">
                            {# <a href="{{ path('app_profil', {'id': app.user.id} ) }}" class="btn btn-outline-light btn-sm mx-1">
                                <i class="fa-regular fa-message"><span class="badge bg-primary ms-2">0</span></i>
                            </a>  #}
                            <a href="#" class="butn butn-out-succ mx-1">
                                ✅
                            </a>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="px-2">
                                <a href="{{ path('admin') }}" class="butn butn-out-succ">
                                    ⚙
                                </a>
                            </div>
                        {% endif %}
                    {% else %}
                        {# <div class="px-2"><p class="m-0 txt-light">Non connecté</p></div> #}
                        <div class="px-2">
                            <a href="{{ path('cellar_door') }}" class="butn butn-out-succ">
                                ❎
                            </a>
                        </div>
                    {% endif %}
                </div>
                <p class="txt-light m-0">Mobilité Loire / Lyon</p>
                <p class="txt-light m-0">yannicktindy@gmail.com</p>
            </div>
        </div>
    </div>
    <hr class="hr-succ">

    <div class="bando">
        <img class="img-fluid" src="{{ asset('build/img/16-9/band0.png') }}" alt="back1">    
        <div class="bando-txt p-3">
            <h1 class="txt-lum">Développeur Web</h1>
            <h2 class="txt-lum">Fullstack / Back-End+</h2>
        </div>
    </div>

    <div class="disp-center mt-5 pt-3 padx2">
        <div class="butn butn-glow p-3 bk-dark text-center">
            <h3 class="txt-succ">Recherche Alternance </h3>
            <p class="txt-light m-0">Concepteur / Développeur d'Application (Bac+3/4)</p>
            <p class="txt-light">Septembre 2023</p>
        </div>
    </div> 

    
</section>

{% include "cv/section/cda.html.twig" %}
{# {% include "cv/section/projet.html.twig" %} #}
{% include "cv/section/symfony.html.twig" %}
{% include "cv/section/diplome.html.twig" %}
{% include "cv/section/experience.html.twig" %}
{% include "cv/section/presentation.html.twig" %}
{% include "cv/section/info.html.twig" %}

<hr class="hr-succ">
<footer class="bk-shadow">
    <div class="fluid disp-center txt-light">SILENUS.FR &copy; 2022<div>
</footer>





