{% extends 'new-base.html.twig' %}


    {% block title %}CV Yannick TINDY{% endblock %}
    {% block og_title %}CV Yannick TINDY{% endblock %}

    {% block description %}{% endblock %}
    {% block og_description %}  {% endblock %}

    {% block keywords %}{% endblock %}

    {% block canonical %}https://silenus.fr{% endblock %}
    {% block og_link %}https://silenus.fr{% endblock %}

    {% block og_image %}https://silensus.fr/build/img/banner/ban0.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {{ encore_entry_link_tags('style') }}
        <style>
            .logo__symfony {
                witdh: 200px;
                height: 200px;
                border-radius: 50%;
            }

        </style>
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/bando/bando2.jpg",
        } 
    %}

    {% include "partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# header----------------------------------------------------------------------- #}
        {% include "partials/headerMainUp.html.twig" 
            with {
                title: "CV",
                subTitle: "Yannick TINDY",
                idDown: "1",
                banner: "build/img/banner/ban4.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        <a href="{{ path('app_symfony') }}" class="butn butn-prim marx1" ><span class="label1">Symfony</span></a>
        <div class="butn butn-second marx1" ><span class="label1">CV</span></div>
        
        <a href="{{ path('app_projets') }}" class="butn butn-prim marx1" ><span class="label1">Projets</span></a>
        
        {# end menu ----------------------------------------------------------------------- #}
        {% include "partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">




        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor bk-drk2 shdw-in-D pad3">
            <h2 class="title2 txt-second">Développeur web</h2>
            <h3 class="sub-title2 txt-second-light">Fullstack / Back-end ++</h3>
            <hr class="hr-soft">
            <section class="shdw-in-D disp-col-center brdr-rad10 pad3">
                <div class="symfony pad2">
                    <img src="{{ asset('build/img/square/profile.jpg') }}" alt="symfony" class="img-fluid logo__symfony">
                </div>
                <section class="shdw-in-D brdr-rad10 fluidx pad3">
                    <a href="https://www.silenus.fr/docs/lettre_de_recommandation_hb.pdf" target="_blank" class="butn butn-prim">Lettre de Recommandation HB</a>
                    <hr class="hr-soft">
                    <a href="https://gitlab.com/yannicktindy" target="_blank" class="butn butn-prim">GitLab</a>
                    <a href="https://www.linkedin.com/in/yannick-tindy/" target="_blank" class="butn butn-prim">LinkedIn</a>
                    <hr class="hr-soft">
                    <a href="https://www.silenus.fr/docs/cv_yannick_tindy_symfony.pdf" target="_blank" class="butn butn-prim">CV Papier</a>
                </section>
            </section>
        </section>


        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorUp.html.twig" 
            with {
                idSection: "1",
                title: "TITRES & DIPLOMES",
                idUp: "present",
                idDown: "2",
                banner: "build/img/banner/ban1.jpg",
            } 
        %}

        <section class="shdw-in-D brdr-rad10 pad3 mary1">
            <h3 class="title3 txt-second">UDEMY</h3>
            <h4 class="sub-title3 txt-second-light">Modules 2023</h4>
            <hr class="hr-soft">
            <p class="info1 txt-soft mar0"><strong class="txt-second-light">Docker</strong> - en cours</p>
            <hr class="hr-soft">
            <p class="info1 txt-soft mar0"><strong class="txt-second-light">REACT Native</strong> - en cours</p>
            <hr class="hr-soft">
            <p class="info1 txt-soft mar0"><strong class="txt-second-light">REACT</strong> 
            - Réalisation d'un pokedex deployé sur Firebase :</p>    
            <a class="butn butn-prim mary1" href="https://react-pokemon-app-d6422.web.app/login" target="_blank"  role="button" aria-expanded="false">
                Pokedex React
            </a>
            <hr class="hr-soft">
            <p class="info1 txt-soft mar0"><strong class="txt-second-light">API REST NodeJS</strong>, Express.js, Sequelize <br>
            - (projet non déployé : heroku est devenu payant)
            </p>
        </section>

        <section class="shdw-in-D brdr-rad10 pad3 mary1">
            <h3 class="title4 txt-second"> Développeur Web / Web Mobile (bac+2)</h3>
            <h4 class="sub-title3 txt-second-light">Human Booster - 2021 / 2022 </h4>
            <hr class="hr-soft">
                <ul class="txt-soft"> 
                    <li>Symfony, Composer</li>
                    <li>API - WS REST</li>
                    <li>PHP, OO, DO</li>
                    <li>Déploiement Serveur</li>
                    <li>SQL, Bases de données MCD ( Méthode MERISE )</li>
                    <li>Angular, Typescript</li>
                    <li>MVC</li>
                    <li>Webpack</li>
                    <li>Javascript, Ajax</li>
                    <li>HTML5, CSS3, Bootstrap5, Sass</li>
                    <li>Linux, Docker</li>
                    <li>CMS Wordpress</li>
                    <li>Méthode Agile, Scrum</li>
                    <li>Versionning GitLab</li>
                    <li>Maquettage, prototypage figma </li>
                </ul>
        </section>

        <section class="shdw-in-D brdr-rad10 pad3 mary1">
            <h3 class="title3 txt-second">UDEMY</h3>
            <h4 class="sub-title3 txt-second-light">Human Modules - 2020 / 2021 </h4>
            <hr class="hr-soft">
                <ul class="txt-soft"> 
                    <li>Javascript, La formation ULTIME</li>
                    <li>PHP & MySQL, La formation ULTIME</li>
                    <li>SASS & SCSS, La formation ULTIME</li>
                    <li>Bootstap 5, La formation ULTIME</li>
                    <li>Flexbox, La formation ULTIME</li>
                    <li>HTML 5 & CSS 3, La formation ULTIME </li>
                </ul>
        </section>

        <section class="shdw-in-D brdr-rad10 pad3 mary1">
            <h3 class="title4 txt-second">CFP - Menuiserie</h3>
            <h4 class="sub-title3 txt-second-light">Obtention AFPA 2001 </h4>
            <hr class="hr-soft">
            <h3 class="title4 txt-second">BTS Informatique Industrielle</h3>
            <h4 class="sub-title3 txt-second-light">première année 1995 / 1996 - C / C++</h4>
            <hr class="hr-soft">
            <h3 class="title4 txt-second">Bac F3 - Electrotechnique</h3>
            <h4 class="sub-title3 txt-second-light">Obtention 1994 / 1995 </h4>
            <hr class="hr-soft">
        </section>        

        {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorDown.html.twig" %}
        {# ------------------------------------------------------------ #}
        <hr class="hr-blk">

        <section  class="section__minor bk-drk2 shdw-in-D pad3">
            <h2 class="title2 txt-prim">Parcours Web</h2>
            <hr class="hr-soft">
            <section class="shdw-in-D brdr-rad10 pad1">
                <p class="txt-soft">En <span class="txt-prim"><strong>2000</strong></span>, j'ai créé mon <span class="txt-prim"><strong>premier site web</strong></span> en HTML, 
                révélant mon intérêt naissant pour le développement et le code. <br>
                Par la suite, j'ai installé divers CMS pour des associations, des amis et mon entreprise, 
                apprenant à manipuler <span class="txt-prim"><strong>Spip, Drupal, Joomla</strong></span> et surtout <span class="txt-prim"><strong>Wordpress</strong></span> que je connais quasiment depuis le début.</p>
            </section>
        </section>
        <hr class="hr-blk">        


                {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorUp.html.twig" 
            with {
                idSection: "2",
                title: "Expériences professionnelles",
                idUp: "1",
                idDown: "3",
                banner: "build/img/banner/ban1.jpg",
            } 
        %}
        {% include "cv/section/experience.html.twig" %}
        {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorDown.html.twig" %}
        {# ------------------------------------------------------------ #}
        <hr class="hr-blk">

        <section  class="section__minor bk-drk2 shdw-in-D pad3">
            <h2 class="title2 txt-second">Hobbies</h2>
            <hr class="hr-soft">
            <section class="shdw-in-D brdr-rad10 pad1">
                <div class="butn butn-second ">Symfony</div><br>
                <div class="butn butn-second ">Ecriture / Articles / Nouvelles</div><br>
                <div class="butn butn-second ">Lutherie : Trad / Folk </div><br>
                <div class="butn butn-second ">Permaculture / Ecologie</div>
            </section>
        </section>
        <hr class="hr-blk">

        <section  class="section__minor bk-drk2 shdw-in-D pad3">
            <h2 class="title2 txt-second">Handicap</h2>
            <hr class="hr-soft">
            <section class="shdw-in-D brdr-rad10 pad2">
                <p class="info1 txt-soft">
                Un accident de travail m'a permis de transformer <strong class="txt-second">ma seconde passion </strong>en projet professionnel.<br>
                Je suis à present titulaire d'un <strong class="txt-second">Bac +2 en développement web</strong> / web mobile.<br>
                J'ai désormais grande hâte d'<strong class="txt-second">intégrer une équipe</strong> de développeurs pour continuer à upgrader.<br>
                Bien que reconnu <span class="txt-second"><strong>travailleur handicapé</strong></span> suite à un accident de travail, 
                je suis pleinement apte à occuper un poste de développeur web <span class="txt-second"><strong>sans aménagement</strong></span> particulier. 
                Je ne peux simplement plus porter de charges.<br><br>
                Ma <span class="txt-second"><strong>motivation</strong></span> et mon dynamisme me permettent de mener à bien toutes les missions confiées. 
                Ma situation administrative est même un <span class="txt-second"><strong>atout pour une entreprise</strong></span> souhaitant favoriser l'inclusion, 
                puisqu'elle ouvre droit à des <span class="txt-second"><strong>aides financières</strong></span>. <br><br>
                Surtout, elle démontre ma <span class="txt-second"><strong>résilience</strong></span> et ma <span class="txt-second"><strong>capacité à rebondir</strong></span> professionnellement malgré les aléas de la vie. 
                Je transforme ce handicap en force pour relever de nouveaux <span class="txt-second"><strong>défis passionnants</strong></span>.
        
                </p>
            </section>
        </section>
        <hr class="hr-blk">

        
        
        {# ------------------------------------------------------------ #}


        {# ------------------------------------------------------------ #}
 

        {# ------------------------------------------------------------ #}
        {% include "partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}