{% extends 'new-base.html.twig' %}


    {% block title %}Symfony App{% endblock %}
    {% block og_title %}Symfony App{% endblock %}

    {% block description %}{% endblock %}
    {% block og_description %}  {% endblock %}

    {% block keywords %}{% endblock %}

    {% block canonical %}https://silenus.fr{% endblock %}
    {% block og_link %}https://silenus.fr{% endblock %}

    {% block og_image %}https://silensus.fr/build/img/banner/ban0.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {{ encore_entry_link_tags('style') }}
        <style>
            .logo__symfony {
                witdh: 200px;
                height: 200px;
                border-radius: 50%;
            }

        </style>
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/bando/bando1.jpg",
        } 
    %}


    {% include "partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# header----------------------------------------------------------------------- #}
        {% include "partials/headerMainUp.html.twig" 
            with {
                title: "SYMFONY",
                subTitle: "Conception d'applications web",
                idDown: "1",
                banner: "build/img/banner/ban0.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        <div class="butn butn-second marx1" ><span class="label1">Symfony</span></div>
        <a href="{{ path('app_new_cv') }}" class="butn butn-prim marx1" ><span class="label1">CV</span></a>
        
        <a href="{{ path('app_projets') }}" class="butn butn-prim marx1" ><span class="label1">Projets</span></a>
        
        {# end menu ----------------------------------------------------------------------- #}
        {% include "partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">
        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor bk-drk2 shdw-in-D pad3">
            <h2 class="title2 txt-second">Passion Symfony</h2>
            <div class="symfony pad2">
                <img src="{{ asset('build/img/square/symfony.jpg') }}" alt="symfony" class="img-fluid logo__symfony">
            </div>
            <section class="shdw-in-D brdr-rad10 pad2">
                <p class="txt-soft">Mon temps libre est majoritairement dedié au développement sur ce Framework<br><br>
                    Ce n'est pas une simple volonté de monter en compétence. c'est une vraie <span class="txt-second">passion !</span><br><br>
                    En 2023, j'ai poursuivi mon exploration en suivant différents modules UDEMY : <br>
                    - API NodeJS<br>
                    - REACT<br>
                    - REACT Native.<br><br>
                    Mais je suis :<br>
                </p> 
                <h3 class="title2 txt-soft txt-center"><span class="txt-second">Symfony Addict !</span></h3><br><br>
            </section>
        </section>


        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorUp.html.twig" 
            with {
                idSection: "1",
                title: "Compétences",
                idUp: "present",
                idDown: "2",
                banner: "build/img/banner/ban1.jpg",
            } 
        %}
        <h3 class="title3 txt-second mar0">Back To Front</h3>
        <hr class="hr-soft">
        <section class="shdw-in-D brdr-rad10 pad3 ">
            <p class="info1 txt-soft">
                <strong class="txt-second">Back-End ++ : </strong> DOCTRINE ORM, Entity, Database création, migrations, QueryBuilder, DQL, CRUDs<br><br>
                <strong class="txt-second">API : </strong> conception, documentation et sécurisation : API Plateform + NelmioApiDocBundle + LexikJWTAuthenticationBundle <br><br>
                <strong class="txt-second">Easyadmin : </strong> Dashboard, Back-Office & Cruds <br><br>
                <strong class="txt-second">Front-End : </strong> TWIG, JavaScript, TypeScript AJAX, Stimulus, Turbo, TwigJS<br><br>
                <strong class="txt-second">SEO : </strong> Sémantique HTML, Automatisation des Métadatas, Open Graph, MicrosDatas & JsonLD, Architecture des urls<br><br>
                <strong class="txt-second">Perfomance : </strong> Webpack Encore, Optimisation des assets, gestion du cache avec turbo <br><br>
                <strong class="txt-second">Sécurité : </strong> securité des routes, des formulaires, gestion des autorisations et accés <br><br>
                <strong class="txt-second">Uprgrade : </strong> Mise à jour de symfony, performances PHP 8.1, Rector Bundle<br><br>
                <strong class="txt-second">Mailer : </strong> Envoi d'email <br><br>
                <strong class="txt-second">ETC ...!</strong> <br><br>
            </p>
        </section>
        {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorDown.html.twig" %}
        {# ------------------------------------------------------------ #}
        <hr class="hr-blk">


                {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorUp.html.twig" 
            with {
                idSection: "2",
                title: "Recherche",
                idUp: "1",
                idDown: "3",
                banner: "build/img/banner/ban1.jpg",
            } 
        %}
        <h3 class="title3 txt-second mar0">Entreprise</h3>
        <hr class="hr-soft">
        <section class="shdw-in-D brdr-rad10 pad3 ">
            <p class="txt-soft">
            Je progresse tous les jours sur Symfony et les axes associés.
            Mais j'ai conscience que je reste un développeur junior.<br>
            J'ai grande hâte de trouver une entreprise avec <strong class="txt-second">une équipe pour me challenger</strong>.<br>
            J'ai besoin d'être au contact d'une équipe afin d'appendre auprés de seniors et de développeurs plus experimentés.<br>
            Je recherche activement un poste de développeur :<br>
            <strong class="txt-second">CDD / CDI</strong><br>
            <strong class="txt-second">Alternance</strong><br>
            <strong class="txt-second">Stage</strong><br><br>

            <strong class="sub-title3 txt-second-light">Si vous cherchez un développeur enthousiaste et motivé, <br>
            Contactez moi !</strong><br><br>
            <a href="mailto:yannicktindy@gmail.com" class="butn butn-prim marx1" ><i class="fas fa-envelope"></i>Yannick Tindy</a>
            <br><br>

            <section class="shdw-in-D brdr-rad10 pad3 ">
                <p class="txt-soft">
                <strong class="sub-title2 txt-second-light">Je suis :</strong><br><br>
                <strong class="butn butn-second">Fiable & Autonome :</strong> Mon experience professionnelle d'artisan luthier m'a appris à élaborer des solutions précises, pertinentes et efficaces.<br><br>
                <strong class="butn butn-second">Mature & Volontaire :</strong> Junior en développement, j'ai une experience professionnelle de 20 ans dans l'artisanat. 
                    J'ai le sens de l'optimisation et le goût du challenge technique.<br><br>
                <strong class="butn butn-second">Eduqué & cultivé :</strong> J'aime et je pense avoir un certain talent pour l'écriture. 
                    Ceci peut être un veritable atout au sein d'une entreprise pour les enjeux de communication et de documentation.<br><br>
                <strong class="butn butn-second">Enthousiaste & Empathique :</strong> J'aime me projeter dans de nouveaux projets et j'ai une capacité naturelle pour dynamiser et encourager les personnes qui m'entourent.<br><br>
                </p>   
            </section>
        </section>
        {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorDown.html.twig" %}
        {# ------------------------------------------------------------ #}
        <hr class="hr-blk">

        {% include "partials/sectionMajorUp.html.twig" 
            with {
                idSection: "3",
                title: "CDA",
                idUp: "2",
                idDown: "footer",
                banner: "build/img/banner/ban1.jpg",
            } 
        %}
        <h3 class="title3 txt-second mar0">Recherche Alternance </h3>
        <hr class="hr-soft">
        <section class="shdw-in-D brdr-rad10 pad3 ">
            <h3 class="txt-soft txt-center">
                Je souhaite valider mes acquis et monter davantage en compétence sur ce framework.<br><br>
                Je recherche une <strong class="txt-second-light">entreprise pour une alternance</strong> (bac +3/4) en Conception d'Applications Symfony.
            </h3>
        </section>
        {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorDown.html.twig" %}
        {# ------------------------------------------------------------ #}

        
        
        {# ------------------------------------------------------------ #}

        <hr class="hr-blk">

        {# ------------------------------------------------------------ #}
 

        {# ------------------------------------------------------------ #}
        {% include "partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}