{% extends 'new-base.html.twig' %}


    {% block title %}Projets {% endblock %}
    {% block og_title %}Projets {% endblock %}

    {% block description %}{% endblock %}
    {% block og_description %}  {% endblock %}

    {% block keywords %}{% endblock %}

    {% block canonical %}https://silenus.fr{% endblock %}
    {% block og_link %}https://silenus.fr{% endblock %}

    {% block og_image %}https://silensus.fr/build/img/banner/ban0.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {{ encore_entry_link_tags('style') }}
        <style>
            .logo__symfony {
                witdh: 200px;
                height: 200px;
                border-radius: 50%;
            }

        </style>
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/bando/bando2.jpg",
        } 
    %}

    {% include "partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# header----------------------------------------------------------------------- #}
        {% include "partials/headerMainUp.html.twig" 
            with {
                title: "PROJETS",
                subTitle: "Portfolio",
                idDown: "1",
                banner: "build/img/banner/ban2.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        <a href="{{ path('app_symfony') }}" class="butn butn-prim marx1" ><span class="label1">Symfony</span></a>
        <a href="{{ path('app_new_cv') }}" class="butn butn-prim marx1" ><span class="label1">CV</span></a>
        
        <div class="butn butn-second marx1" ><span class="label1">Projets</span></div>
        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">




        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor bk-drk2 shdw-in-D pad3">
            <h2 class="title2 txt-second">Nettoyage</h2>

            <section class="shdw-in-D brdr-rad10 pad2">
                <p class="txt-soft">Je suis en train de reprendre chacun de mes projets<br><br>
                    Ayant beaucoup progressé dans ma pratique, je veux desormais reprendre mes réalisations passées avec un <span class="txt-second-light">code révisé</span> plus prorpe.<br><br>
                    J'ai beaucoup experimenté et testé pendant les derniers mois. <br><br>
                    je souhaite maintenant m'engager dans une <span class="txt-second-light">pratique très rigoureuse</span> et m'attacher aux standards des <span class="txt-second-light">bonnes pratiques</span>.<br><br>
                    Je veux également travailler sur la <span class="txt-second-light">documentation<span> de mes projets.<br><br>
                    Ce site est une app realisée en Symfony 6.3
                </p> 
                
            </section>
        </section>


        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorUp.html.twig" 
            with {
                idSection: "1",
                title: "APP",
                idUp: "present",
                idDown: "2",
                banner: "build/img/banner/ban1.jpg",
            } 
        %}
        <h3 class="title3 txt-second mar0">Internes</h3>
        <h3 class="sub-title3 txt-second-light mar0">Quelques realisations Internes à cette app Symfony</h3>
        <hr class="hr-soft">
        <section class="shdw-in-D brdr-rad10 pad3 ">
            <a href="{{ path('app_test_run') }}" class="butn butn-prim marx1" >Dev Quiz</a>
            <a href="{{ path('app_hat') }}" class="butn butn-prim marx1" >StylisHat Shop</a>
            <a href="{{ path('app_reverso') }}" class="butn butn-prim marx1" >Reverso Game</a>
        </section>
        {# ------------------------------------------------------------ #}
        {% include "partials/sectionMajorDown.html.twig" %}
        {# ------------------------------------------------------------ #}
        <hr class="hr-blk">


 

        {# ------------------------------------------------------------ #}
 

        {# ------------------------------------------------------------ #}
        {% include "partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}