.hat-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.hat-aside {
    width: 100%;
    max-width: 324px;
    object-fit: cover;
}

.hat-aside img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


.hat-trunk{
    width: 100%;
    max-width: 576px;
    position: relative;
}
.hat-menu{
    position: absolute;
    top: 10px;
    right: 10px;
}

.hat-banner {
    width: 100%;
}

.hat-card {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.hat-card .badge {
    position: absolute;
    top: 2px;
    left: 2px;
}

.hat-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hat-modal {
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .hat-aside {
        display: none;
    }


}