{% extends 'base.html.twig' %}

{% block title %}Yannick Tindy CV{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
        {{ encore_entry_link_tags('trunk') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
        <div class="disp-center fluid">
        <div class="trunk">
            <img src="{{ asset('build/img/9-16/back1.png') }}">
        </div>
    </div>
{# ------ page modal -------------------------------------------------- #}
<div class="modal banner__modal fade" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content padx1 pady2">
            <h1 class="txt-succ text-center">ACCES REFUSE !!!</h1>
            <p class="txt-light text-center">Vous n'êtes pas autorisé à accéder à cette ressource.</p>
            <hr class="hr-succ">
            <a href="{{ path('app_cv') }}" class="butn butn-succ text-center">Retour</a>
        </div>
    </div>
</div> 

    

{% endblock %}