{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('trunk') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div class="disp-center fluid">
    <div class="trunk">
        <img src="{{ asset('build/img/9-16/back1.png') }}">
    </div>
</div>

{# ------ page modal -------------------------------------------------- #}
<div class="modal banner__modal fade" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content padx1 pady2">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="txt-lum mb-3">
                        Vous êtes connecté en temps que : {{ app.user.userIdentifier }}
                    </div>
                    <a href="{{ path('sun_down') }}" class="butn butn-succ mary1">deconnexion</a>

                {% else %}   
                <h1 class="txt-succ mb-3 font-weight-normal">Identifiez vous</h1>
                {# <label for="inputUsername txt-lum">Pseudo</label> #}
                <hr class="hr-succ">
                <h6 class="txt-lum">Nom d'usage</h6>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                {# <label for="inputPassword">Mot de passe</label> #}
                <hr class="hr-succ">
                <h6 class="txt-lum">Mot de passe</h6>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="butn butn-succ mary1" type="submit">
                    Valider
                </button>
                {# <hr class="hr-succ">
                <a href="{{ path('app_register') }}" class="butn butn-succ mary1">Créer un compte</a>     #}

                {% endif %}

 
            </form>


        </div>
    </div>
</div> 



{% endblock %}
