{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('trunk') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div class="disp-center fluid">
        <div class="trunk">
            <img src="{{ asset('build/img/9-16/back1.png') }}">
        </div>
    </div>
{# ------ page modal -------------------------------------------------- #}
<div class="modal banner__modal fade" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content padx1 pady2">
            <h1 class="txt-succ">Créer un compte</h1>
            <hr class="hr-succ">
            {{ form_start(registrationForm) }}
                <h6 class="txt-lum">Nom d'usage</h6>
                {{ form_row(registrationForm.username) }}
                <hr class="hr-succ">
                <h6 class="txt-lum">Mot de passe</h6>
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                <hr class="hr-succ">
                <h6 class="txt-lum">Accepter les termes : cette fonctionnalité sera bientôt mise en place </h6>
                {{ form_row(registrationForm.agreeTerms) }}
                <hr class="hr-succ">

                <button type="submit" class="butn butn-succ mary1">Valider</button>
            {{ form_end(registrationForm) }}
            <hr class="hr-succ">
            <h5 class="txt-succ">Information</h5>
            <p class="txt-light">Les fonctionnalités reservées à l'utilisateur ne sont pas encore déployées</p>


        </div>
    </div>
</div> 
{% endblock %}
