<nav class="nav block p-2">
    <div class="row m-0 p-0">
        <div class="col-3  col-sm-2 m-0 p-0">
            <div class="nav__logo">
                <img src="{{ asset('build/img/gen/logo.png') }}" alt="logo" class="img-fluid">
                {# <a href="{{ path('app_home') }}" class="btn btn-outline-light btn-lg" >I</a> #}

            </div>
        </div>    
        <div class="col-9 col-sm-10 m-0 p-0">
            <div class="row m-0 p-0">
                <div class="col-12 m-0 p-0">
                    <div class="nav__account">
                        {% if app.user %}
                            <div class="px-2"><p class="m-0">Bonjour {{ app.user.pseudo }}</p></div>
                            <div class="px-2">
                                {# <a href="{{ path('app_profil', {'id': app.user.id} ) }}" class="btn btn-outline-light btn-sm mx-1">
                                    <i class="fa-regular fa-message"><span class="badge bg-primary ms-2">0</span></i>
                                </a>  #}
                                <a href="{{ path('app_profil_board', {'userSlug': app.user.userSlug} ) }}" class="btn btn-outline-light btn-sm mx-1">
                                    <i class="fa-regular fa-user"></i>
                                </a>
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="px-2">
                                    <a href="{{ path('admin') }}" class="btn btn-outline-light btn-sm">
                                        <i class="fas fa-gauge"></i>
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="px-2"><p class="m-0">Non connecté</p></div>
                            <div class="px-2">
                                <a href="{{ path('app_login') }}" class="btn btn-outline-light btn-sm">
                                    <i class="fa-solid fa-lock"></i>
                                </a>
                            </div>

                            
                        {% endif %}                      
                    </div>
                </div>
                <div class="col-12 m-0 p-0">
                    <hr class="m-2">
                </div>
                <div class="col-12 m-0 p-0">
                    <div class="nav__menu">
                        <a href="{{ path('app_home') }}" class="btn btn-outline-light btn-sm" ><i class="fa-solid fa-house-user"></i></a>
                        <a href="{{ path('app_test_list') }}" class="btn btn-outline-light btn-sm" ><i class="fa-solid fa-shapes"></i></a>
                        <a href="{{ path('app_wall') }}" class="btn btn-outline-light btn-sm" ><i class="fa-solid fa-users"></i></a>
                        <a href="{{ path('app_insidiome') }}" class="btn btn-outline-light btn-sm" ><i class="fa-solid fa-vihara"></i></a>
                        {# <a href="#" class="btn btn-outline-light btn-sm" ><i class="fa-solid fa-circle-nodes"></i></a> #}
                        {# <a href="{{ path('app_tchat_list') }}" class="btn btn-outline-light btn-sm" ><i class="fa-solid fa-circle-notch"></i></a> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

