<nav class="main__nav bk-drk1 shdw-in-D disp-col-center mar0 padx1">
    <section class="main__nav__supp disp-end fluidx mar0">

            {# <h2 class="sub-title2 txt-second-light">Yannick Tindy</h2><br> #}
            <p class="info1 txt-soft">Yannick TINDY : Mobilité Loire / Lyon</p>
            {# <a href="{{ path('app_login') }}" class="butn butn-prim marx1">
                    <i class="fas fa-user"></i> #}
    </section>
    <hr class="hr-soft mar0">
    <section class="main__nav__supp disp-center fluid wrap mar0">