<!-- Modal -->
<div class="modal fade" id="ReversoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark pad1">
            <div class="modal-header shdw-in-D pad1">
                <h1 class="title3 txt-second" id="exampleModalLabel">Informations Reverso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="txt-soft">
                    Ce jeu est un jeu de mémoire est developpé en PHP Symfony et JavaSript Vanilla.<br>
                    Il a pour objectif de servir de suppport pour des tests sur mon API.<br>
                    Les formations que je suis actuellement proposent de tester les fonctionnalités en travaillant les pokémons. Je n'aime pas particulierement les pokémons. Donc j'ai choisi de créer autre chose.<br>
                </p>
                <h6 class="title4 txt-second">Développement </h6>
                <p class="txt-soft">
                    - 3 Entités : Reverso, Card, Score en BDD MySQL et ressource API Plateform<br>
                    -- Score est relié à l'entité User<br>
                    - 2 CRUDs sur Reverso et Card en Symfony EasyAdmin<br>
                    - 1 Controller PHP front<br>
                    - 1 Controller JS front<br>
                    - style responsive en bootstrap 5 et des classes CSS personnelles

                </p>
                <h6 class="title4 txt-second">Fonctionnement</h6>
                <p class="txt-soft">
                    - Si le joueur n'est pas connecté à l'app, le jeu fonctionne en session, et les données sont sauvegardé tant que la session est valide<br>
                    - Si le joueur est connecté à l'app, les données sont sauvegardées en BDD à chaque rechargement du jeu.<br>
                    ** Mon server étant limité, j'ai desactivé la sauvegarde en BDD pour economiser mes ressources<br>
                    - Le traitement des données se fait aprés la soumission du formulaire caché en methode POST. Le formulaire ne peut etre soumis qu'une fois le jeu terminé. le bouton de soumission est caché en JavaScript<br>
                    - La bibliotheque confetti.js est utilisée pour animer les victoires<br>
                </p>
            </div>
            <div class="modal-footer">

                <a href="{{ path('app_projets') }}#1" class="butn butn-prim">Quitter</a>
                {# <a href="{{ path('app_reverso_close') }}" class="butn butn-prim">Supprimer le cookie</a> #}
                <a type="button" class="butn butn-prim" data-bs-dismiss="modal">Fermer la fenêtre</a>
            </div>
        </div>
    </div>
</div>