{% extends 'base.html.twig' %}

{% block title %}Reverso{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('trunk') }}
    {{ encore_entry_link_tags('rever') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('reverso') }}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
{% endblock %}

{% block body %}

<div class="disp-center fluid">
    <div class="trunk disp-col-center pad1" style="background-image: url('https://www.silenus.fr/build/img/9-16/back1.png'); object-fit: cover; background-size: contain; ">
        <div class="reverso-header pad2 disp-col-center">
            <h3 class="txt-succ">Reverso</h3>
            <h4 class="txt-lum">Un jeu de memory</h4>
            <p  class="txt-light">Le but du jeu est de retrouver les paires de cartes identiques.</p>
            <hr class="hr-succ">
            <h4 class="txt-succ">Consentement</h4>
            <p  class="txt-light">Pour tester les fonctionnalités de ce jeu vous devez accepter les cookies.</p>
            <p  class="txt-light">Vos scores seront enregistrés dans un cookie fonctionnel sur votre navigateur.</p>
            <p  class="txt-light">Un bouton de suppression sera disponible sur le jeu pour supprimer ce cookie.</p>
            <hr class="hr-succ">
            <a href="{{ path('app_reverso_cookie') }}" class="butn butn-succ">Acceptez le cookie et jouez !</a>
        </div>
    </div>
</div>
{% endblock %}