{% extends 'base.html.twig' %}

{% block title %}Reverso{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('trunk') }}
    {{ encore_entry_link_tags('rever') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('reverso') }}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
{% endblock %}

{% block body %}

<div class="disp-center fluid">
    <div class="trunk" style="background-image: url({% if reverso %} {{ reverso.img }} {% else %} {{ asset('build/img/bando/badon2.jpg') }} {% endif %} )">
        
            <div class="game-trunk__content padx1">
                <div class="reverso-header disp-col-start ">
                    <div class="disp-spbtwn">
                        <div>
                            <h1 class=" txt-second">
                                <span class="title4"> {{ reverso.name }}</span><span class="sub-title4 txt-second-light"> =
                                {{ revscore.count is defined ? revscore.count : 0 }} |
                                Points = {{ revscore.points is defined ? revscore.points : 0 }}</span>
                            </h1>
                        </div>
                        <div>
                            <a type="button" class="butn butn-prim" data-bs-toggle="modal" data-bs-target="#ReversoModal">
                                Menu
                            </a>
                        </div>
                    </div>
                    
                        <p class="txt-prim-light"><span id="score">0 Paire</span> en <span id="move">0 Mouvement </span> = <span id="result">?</span></p>

                </div>
                <hr class="hr-soft">
                <div class="tapi disp-center wrap reverso-header">
                    {# ----------- map -------------------------------------------------------------- #}
                    {% for key, card in revcards %}
                        <div id="key" class="card" name="{{card.img}}">
                            <div class="front">
                                <img src="https://www.silenus.fr/build/img/square/logo512.jpg" alt="silenus" >
                            </div> 
                            <div class="back">
                                <img src="{{card.img}}" alt="{{card.name}}" >
                            </div>
                        </div>
                    {% endfor %}
                    {# ----------- map -------------------------------------------------------------- #}
                </div>
                <div class="reverso-header disp-center ">
                    <form method="post">
                        <input type="checkbox" class="d-none" value="" name="moves" checked>
                        <button id="restartButton" class="butn butn-prim mary1" type="submit">
                            Rejouer
                        </button>
                    </form>
                    {# <a href="{{ path('app_reverso') }}"  class="butn butn-succ">Rejouer</a> #}
                </div>
            </div>  
    </div>
</div>
{% include "reverso/_menu.html.twig" %}
{% endblock %}
