<div class="dropdown  dropstart ">
    <a class="butn butn-prim " type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filtres
    </a>
    <ul class="dropdown-menu dropdown-menu-dark shdw-in-D text-end">
        {# <li><a class="info1 dropdown-item" data-filter="all">Tous</a></li> #}
        <li><hr class="hr-soft"></li>
        <li><h5 class="sub-title3 txt-second-light txt-center">Par matières</h5></li>
        <li><a class="filter-btn dropdown-item" data-filter="cuirs">cuirs</a></li>
        <li><a class="filter-btn dropdown-item" data-filter="feutres">feutres</a></li>
        <li><hr class="hr-soft"></li>
        <li><h5 class="sub-title3 txt-second-light txt-center">Par formes</h5></li>
        <li><a class="filter-btn dropdown-item" data-filter="casquettes">casquettes</a></li>
        <li><a class="filter-btn dropdown-item" data-filter="melons">melons</a></li>
        <li><a class="filter-btn dropdown-item" data-filter="hauts-de-forme">hauts-de-forme</a></li>
    </ul>
</div>