<div class="dropdown dropstart text-end ">
  <a class="butn butn-prim " type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Menu
  </a>
  <ul class="dropdown-menu dropdown-menu-dark shdw-in-D pad1">
    <li><a class="butn butn-prim mb-1" data-bs-toggle="modal" data-bs-target="#infoModal">Informations</a></li>
    <li><a class="butn butn-prim" href="{{ path('app_projets') }}#1">Quitter</a></li>
  </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark shdw-in-D pad1">
            <div class="modal-header pad1">
                <h1 class="modal-title fs-5 title3 txt-second" id="exampleModalLabel">Informations Hat shop</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="txt-soft">
                    Ceci est une demonstration de boutique en ligne en Symfony 6.2<br>
                    Il a pour objectif de servir de suppport pour des tests sur mon API.
                </p>
                <h6 class="sub-title3 txt-second-light">Développement </h6>
                <p class="info1 txt-soft">
                    - 3 Entités : Hat, Order, Line en BDD MySQL et ressource API Plateform<br>
                    - 1 CRUDs sur Hat en Symfony EasyAdmin<br>
                    - 1 Controller PHP front
                    - style responisve en Bootstrap 5 classes CSS personnelles<br>

                </p>
                <h6 class="sub-title3 txt-second-light">Fonctionnement</h6>
                <p class="info1 txt-soft">
                    - Le panier est stocké en session<br>
                    - L'ajout d'un chapeau au panier est limité à la quatité en stock et ce fait en methode POST<br>
                    ** Mon server étant limité, j'ai desactivé la sauvegarde en BDD pour economiser mes ressources<br>
                    - Le chapeau est définit, par sa forme et sa matière, qui sont des filtres de séléction<br>
                    - Plus d'informations sur le traitement de la commande en fin de démonstration 
                </p>
            </div>
            <div class="modal-footer">
                <a href="{{ path('app_projets') }}#1" class="butn butn-prim">Quitter</a>
                <a type="button" class="butn butn-prim" data-bs-dismiss="modal">Fermer la fenêtre</a>
            </div>
        </div>
    </div>
</div>
