{% extends 'base.html.twig' %}

{% block title %}Hat Shop Basket{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('hat') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div class="disp-center fluid">
    <div class="hat-container">
        <div class="hat-aside padx1">
            <img src="https://www.silenus.fr/build/img/hats/asideHat.jpg" alt="banner">
        </div>
        <div class="hat-trunk">
            <div class="hat-menu disp-between-center">
                <h3 class="title3 txt-second padx2">StylisHat Shop</h3>
                <div class"disp-end">
                    {# <a href="{{ path('app_hat') }}" class="butn butn-prim">Boutique</span></a> #}
                </div> 
            </div>
            <img class="hat-banner" src="https://www.silenus.fr/build/img/hats/bannerHat.jpg" alt="banner">
            <div class="pad2">
            <h3 class="sub-title2 txt-second-light text-center">Votre panier</h3>
            <hr class="hr-soft">
            <table class="table table-dark table-striped table-hover rounded">
                <thead>
                    <tr>
                   
                        <th scope="col"><p class="txt-soft">Nom</p></th>
                        <th scope="col"><p class="txt-soft text-center">PU</p></th>
                        <th scope="col"><p class="txt-soft text-center">Promo</p></th>
                        <th scope="col"><p class="txt-soft text-center">Quatité</p></th>
                        <th scope="col"><p class="txt-soft text-center">Total</p></th>
                        <th scope="col"><p class="txt-soft text-end"></p></th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in panier %}
                        <tr>
                            <td><a href="{{ path('app_hat_show', {'id': line.hat.id}) }}"><p class="sub-title3 txt-second m-0">{{ line.hat.name }}</p></a></td>
                            <td><p class="txt-soft text-center m-0">{% if line.hat.isPromo %}{{ line.hat.price - (line.hat.price * 0.1) }}{% else %}{{ line.hat.price }}{% endif %}€</td>
                            <td class="text-center">{% if line.hat.isPromo %}✅{% endif %}</td>
                            <td><p class="txt-soft text-center m-0">{{ line.qty }}</p></td>
                            <td><p class="txt-soft text-center m-0">{{ line.qty * line.hat.price }} €</p></td>
                            <td class="text-end"><a href="{{ path('app_hat_remove', {'id': line.hat.id}) }}">❌</a></td>
                        </tr>
                    {% endfor %}       
                </tbody>
            </table>
            <table class="table table-dark table-striped table-hover rounded">
                <thead>
                    <tr>
                        <th scope="col"><h4 class="txt-second-light">Total de votre facture</h4></th>
                        <th scope="col"><h3 class="txt-second text-end">{{ sum }} €</h3></th>
                    </tr>
                </thead>
            </table>
            <div class="text-center fluid">
                <a href="{{ path('app_hat_close') }}" class="butn butn-prim my-1">Valider et payer</a><br>
                <a href="{{ path('app_hat') }}" class="butn butn-prim my-1">Retour à la liste des chapeaux</a>
            </div>    
            </div>
        </div>
    </div>
</div>

{% endblock %}