{% extends 'base.html.twig' %}

{% block title %}Hat Shop{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('hat') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div class="disp-center">
    <div class="hat-container">
        <div class="hat-aside padx1">
            <img src="https://www.silenus.fr/build/img/hats/asideHat.jpg" alt="banner">
        </div>
        <div class="hat-trunk">
            <div class="hat-menu disp-between-center">
                <h3 class="title3 txt-second padx2">StylisHat Shop</h3>
  
            </div>
            <img class="hat-banner" src="https://www.silenus.fr/build/img/hats/bannerHat.jpg" alt="banner">
            
            {# ---------------------- #}
            <div class="pad1">
                <div class="disp-spbtwn">
                    <div class="">
                        <h3 class="modal-title fs-5 txt-succ" id="exampleModalLabel">Merci !</h3>
                        <hr class="hr-succ">
                    </div>
                    <div class"disp-end">
                        <div>
                            {% include "hat/_menu.html.twig" %}
                        </div>
                    </div> 
                </div>
                <div class="bk-drk3 shdw-in-D pad2">
                    <p class="txt-soft">Cette démonstration est terminée.</p>
                    <hr class="hr-soft">
                    <p class="txt-soft">Pour la suite du processus, le paiement par le client déclenche le traitement du panier de session dans un contrôleur PHP Symfony et transformé en une instance de l'entité Order, en relation avec des instances de l'entité Line, qui correspondent chacune à une ligne de facture pour un produit et sa quantité.</p>
                    <hr class="hr-soft">
                    <p class="txt-soft">La session est ensuite effacée et la facture produite automatiquement et envoyée par email à l'utilisateur. La génération du PDF de facture est sur ma ToDo list pour améliorer la démo</p>
                    <hr class="hr-soft">
                    <p class="txt-soft">J'espère que vous aurez appécié cette démonstration. La session (cookie) a été effacée de votre navigateur</p>
                    <hr class="hr-soft">
                </div>    
                <div class="modal-footer">
                    <a href="{{ path('app_projets') }}#1" class="butn butn-prim">Quitter</a>
                    <a href="{{ path('app_hat') }}" class="butn butn-prim">Refaire la démo</a>
                </div>    
            </div> 
            {# -----------------    #}
        </div>
    </div>
</div>

{% endblock %}