{% extends 'base.html.twig' %}

{% block title %}Hat Shop{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('hat') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div class="disp-center fluid">
    <div class="hat-container">
        <div class="hat-aside padx1">
            <img src="https://www.silenus.fr/build/img/hats/asideHat.jpg" alt="banner">
        </div>
        <div class="hat-trunk">
            <div class="hat-menu disp-between-center fluid">
                <h3 class="txt-lum padx2">StylisHat Shop</h3>
                <div>
                    <div>
                        {% include "hat/_menu.html.twig" %}
                    </div>
                </div>    
            </div>
            <img class="hat-banner" src="https://www.silenus.fr/build/img/hats/bannerHat.jpg" alt="banner">
            {# ---------------------- #}
            <div class="bk-obsc pad2">
                <div class="">
                    <h3 class="modal-title fs-5 txt-succ" id="exampleModalLabel">Hat Shop conditions</h3>
                    <hr class="hr-succ">
                </div>
                <div class="">
                    <p class="txt-light">Pour pouvoir effectuer la démonstration de cette boutique en ligne, vous devez accepter les cookies de fonctionnement.</p>
                    <hr class="hr-succ">
                    <p class="txt-light">Votre panier sera stocké sur votre navigateur personnel. </p>
                    <hr class="hr-succ">
                    <p class="txt-light">À la fin de la démonstration, le panier sera effacé de votre navigateur.</p>
                    <hr class="hr-succ">
                </div>    
                <div class="modal-footer">
                    <a href="{{ path('app_hat_cookie') }}" class="butn butn-succ mar1">Accepter les cookies</a>
                    <a href="{{ path('app_cv') }}" class="butn butn-succ mar1">Ne pas accepter</a>
                </div>    
            </div> 
            {# -----------------    #}
        </div>
    </div>
</div>


{% endblock %}