{% extends 'base.html.twig' %}

{% block title %}Hat Shop{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('hat') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const message = document.querySelector('.message');
            const filterBtns = document.querySelectorAll(".filter-btn");
            const products = document.querySelectorAll('.tofilter');

            filterBtns.forEach(function(btn) {
                btn.addEventListener('click', function() {
                    const filter = this.getAttribute('data-filter');

                    products.forEach(function(product) {
                        if (filter === 'all') {
                            product.classList.remove('d-none');
                            message.innerHTML = 'Tous les chapeaux';
                        } else {
                            if (product.classList.contains(filter)) {
                                product.classList.remove('d-none');
                            } else {
                                product.classList.add('d-none');
                            }
                            message.innerHTML = 'Nos ' + filter;
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}

{# {% block header %} #}

{% block body %}
<div class="disp-center fluid">
    <div class="hat-container">
        <div class="hat-aside padx1">
            <img src="https://www.silenus.fr/build/img/hats/asideHat.jpg" alt="banner">
        </div>
        <div class="hat-trunk">
            <div class="hat-menu fluid">
                <div>
                    <h3 class="title3 txt-second padx2">StylisHat Shop</h3>
                </div>
                <div class="disp-center">
                    {% include "hat/_menu.html.twig" %}
                    {% include "hat/_filter.html.twig" %}
                    <a href="{{ path('app_hat_basket') }}" class="butn butn-prim disp-center">Panier <span class="badge text-bg-primary">{{ nbHat }}</span></a>
                    {# <div>
                        {% include "hat/_menu.html.twig" %}
                        {% include "hat/_filter.html.twig" %}
                    </div> #}
                    {# <div class="butn butn-succ" type="button" data-bs-toggle="modal" data-bs-target="#infoModal">
                        Informations
                    {# <div class="butn butn-succ" type="button" data-bs-toggle="modal" data-bs-target="#menuModal">
                        Menu 
                    </div> #}
                </div>    
            </div>
            <img class="hat-banner" src="https://www.silenus.fr/build/img/hats/bannerHat.jpg" alt="banner">
            <h5 class="sub-titele3 txt-second-light text-center pad1 m-0 message"> Bienvenue sur la boutique</h5>
            <div class="padx2">
                <div class="row bk-drk3 shdw-in-D brdr-rad10">
                    {% for hat in hats %}
                        <div class="col-6 col-sm-4 tofilter {{ hat.matter }} {{ hat.shape }} p-2" type="button">
                            <a href="{{ path('app_hat_show', {'id': hat.id}) }}" type="button">
                                <div class="hat-card">
                                    <img src="{{ hat.img }}" alt="{{ hat.name }}" class="shdw-in-D">
                                    {% if hat.isPromo == true %}
                                        <div class="butn butn-prim badge">Promo</div>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cookieModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="hat-modal bk-obsc pad1">
            <div class="modal-header pad1 bk-obsc">
                <h3 class="modal-title fs-5 txt-succ" id="exampleModalLabel">Hat Shop conditions</h3>
            </div>
            <div class="modal-body">
                <p class="txt-light">Pour pouvoir effectuer la démonstration de cette boutique en ligne, vous devez accepter les cookies de fonctionnement.</p>
                <hr class="bk-succ">
                <p class="txt-light">Votre panier sera stocké sur votre navigateur personnel.</p>
                <hr class="bk-succ">
                <p class="txt-light">À la fin de la démonstration, le panier sera effacé de votre navigateur.</p>
                <hr class="bk-succ">
                <div class="modal-footer">
                        {# <a href="{{ path('app_cv') }}" class="butn butn-succ pady1">Accepter les cookies</a> #}
                        {# <a href="{{ path('app_cv') }}" class="butn butn-succ pady1">Ne pas accepter</a> #}
                </div>    
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="hat-modal bk-obsc pad1">
            <div class="modal-header">
                <h3 class="modal-title fs-5 txt-succ" id="exampleModalLabel">Informations Shop</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="txt-light">projet en cours de développement</p>
                <a href="{{ path('app_projets') }}#1" class="butn butn-succ">Retour au CV</a>
                < type="button" class="butn butn-succ" data-bs-dismiss="modal">Fermer la fenêtre</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
