{% extends 'base.html.twig' %}

{% block title %}Hat Shop{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('hat') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div class="disp-center fluid">
    <div class="hat-container">
        <div class="hat-aside padx1">
            <img src="https://www.silenus.fr/build/img/hats/asideHat.jpg" alt="banner">
        </div>
        <div class="hat-trunk">
            <div class="hat-menu disp-between-center ">
                <h3 class="title3 txt-second padx2">StylisHat Shop</h3>
   
            </div>
            <img class="hat-banner" src="https://www.silenus.fr/build/img/hats/bannerHat.jpg" alt="banner">
            <div class="pad1">
                <p class="txt-succ text-center m-0"> {{ message }}</p>
            </div>
            <div class="">
                <div class="row bk-drk3 shdw-in-D brdr-rad10 marx1">
                    <div class="col-12 col-sm-6 pad0" type="button">
                        <div class="hat-card">
                            <img src="{{ hat.img }}" alt="{{ hat.name }}" class="shdw-in-D fluidx">
                            {% if hat.isPromo == true %}
                                <div class="butn butn-prim badge">Promo</div>
                            {% endif %}
                        </div>
                    </div>  
                    <div class="col-12 col-sm-6" type="button">
                        <div class="fluid disp-col-center">
                            <h3 class="title3 txt-second text-center">{{ hat.name }}</h3>
                            <h6 class="sub-title3 txt-second-light text-center">Rayon des {{ hat.shape }}</h6>
                            <h6 class="sub-title3 txt-second-light text-center">Sélection des {{ hat.matter }}</h6>
                            <hr class="hr-soft">
                            <p class="info1 txt-soft text-center m-0">{{ hat.quantity }} en stock</p></p>
                            {% if hat.isPromo == true %}
                                <p class="txt-soft text-center m-0">{{ hat.price }} € - 10 %</p></p>
                                <h3 class="txt-second text-center">{{ hat.price - (hat.price * 0.1) }} €</h3>
                            {% else %}
                                <h3 class="txt-second text-center">{{ hat.price }} €</h3>
                            {% endif %}
                        </div>
                    </div>   
                </div>
                <form method="POST" class="bg-dark shdw-in-D pad1 mary1 rounded">
                    <div class="input-group disp-center">
                        <input type="hidden" name="hat_id" value="{{ hat.id }}">
                        <div class="form-group">
                            
                            <input type="number" class="form-control-sm my-1" id="quantity" name="quantity" min="1" max="{{ hat.quantity }}" value="1" required style="width: 70px;">
                        </div>
                        <button type="submit" class="butn butn-prim my-1">Ajouter au panier</button>
                    </div>
                </form>
                <hr class="hr-soft">
                <div class="text-center fluid">
                    <a href="{{ path('app_hat_basket') }}" class="butn butn-prim ">Voir votre panier</a><br>
                    <a href="{{ path('app_hat') }}" class="butn butn-prim">Retour à la liste des chapeaux</a><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}