.modal__mobile__bk {
    display: none;
}

.modl {
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 768px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in;
}

.modl__content {
    width: 100%;  
    background-color: rgba(0,0,0,0.6);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: inset 0 0 100px black;
    backdrop-filter: grayscale(100%);
    transform: translateY(-100px);
    transition: all 0.5s ease-out;
}

.modl2 {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in;
}

.modl2__content {
    width: 100%;  
    height: auto;
    overflow-y: auto;
    max-width: 768px;
    border: 2px solid black;
    border-radius: 7px;
    overflow: hidden;
    transform: translateY(-100px);
    transition: all 0.5s ease-out;
}

.modal-run-test {
    background-color:rgba(0,0,0,0.6);
    backdrop-filter: grayscale(100%);

}

.modal-transp {
    background-color: transparent
}

body.modal-open {
    overflow: hidden;
}
// ------------------------------------------------------------

@media (max-width: 768px) {
    .modal__mobile__bk {
        width: 100%;
        height: 100%;
        display:block;
        background-size: cover;
        background-position: center;
    }
    .modl__content {
        background-color: rgba(0,0,0,0.5);
    }

}  