.butn {
    display: inline-block;
    padding: 5px 15px;
    margin: 3px 15px;
    font-size: 16px;
    cursor: pointer;
    // transition-duration: 0.4s;
    border-radius: 4px; 
    text-decoration: none;  
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.butn-vertical {
    display: inline-block;
    padding: 15px 5px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    // transition-duration: 0.4s;
    border-radius: 4px; 
    text-decoration: none;  
    
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// .butn a {
//     text-decoration: none;
//     font-family: 'Roboto', sans-serif;
//     font-size: max(1.3vw, 1em);  
    

// }

.butn-prim:hover {
    transform: scale(1.1);
}

.butn-prim {
    background-image: linear-gradient(to bottom, var(--prim), var(--prim-dark2));
    font-size: max(1vw, 0.8em);
    color: white;
}

.butn-prim:hover {
    background-image: linear-gradient(to bottom, var(--prim-active), var(--prim-dark));
    color: black;
}

.butn-second {
    background-image: linear-gradient(to bottom, var(--second), var(--second-dark2));
    color: white;
}
.butn-danger {
    background-image: linear-gradient(to bottom, var(--warn), var(--danger));
    color: white;
}

.butn-tag {
    background-color:rgba(0,0,0,0.3);
    color: var(--prim);
    font-size: 0.8em;
}

.butn-tag:hover, .butn-tag-active {
    background-color:rgba(0,0,0,0.6);
    color: var(--prim-active);
    font-size: 0.8em;
    font-weight: bold;
    animation: glow-animG 2s infinite;
}


.butn-out-prim {
    background-color: black;
    border: 2px solid var(--prim-dark);
}






.butn-succ {
    background-image: linear-gradient(to bottom, var(--succ2), var(--succ3));
    color: white;
    border: 2px solid var(--succ);
}

.butn-out {
    background-color: transparent;
    transition-duration: 0.4s;
}
.butn-out-succ {
    background-color: transparent;
    color: var(--succ);
    border: 2px solid var(--succ);
}

.butn-out-succ:hover {
    background-image: linear-gradient(to bottom, var(--succ2), var(--succ3));
    color: var(--lum);
}

/* // .butn-anim {
//     animation: border-animate 2s infinite;
// } */



@keyframes border-animate {
    0% {
        border-color: #106a37;
    }
    50% {
        border-color: #0c8b3d;
    }
    100% {
        border-color: #106a37;
    }
}

.butn-anim {
    position: relative;
    animation: anim 2s ease-in-out infinite;
}

@keyframes anim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.butn-glow {
    position: relative;
    animation: glowSucc 2s ease-in-out infinite;
}

