.fluid {
    width: 100%;
    height: 100%;
}
.fluidx {
    width: 100%;
}
.fluidy {
    height: 100%;
}
.vh100 {
    height: 100vh;
}

.disp-none {
    display: none;
}
.disp-block {
    display: block;
}

.wrap {
    flex-wrap: wrap;
}   

.disp-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.disp-spbetw, .disp-spbtwn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.disp-speven {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.disp-start {
    display: flex;
    justify-content: start;
    align-items: center;
}
.disp-start-end {
    display: flex;
    justify-content: start;
    align-items: end;
}
.disp-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.disp-col-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.disp-col-end {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.disp-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.disp-col-end-center {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.disp-col-start-center{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

