.form-label {
    color: whitesmoke;
    margin-top: 10px;
}

.form-check-label {
    color: whitesmoke;
}



.alert__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert__form__message {
    flex: 1;

}

.alert__form__check {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}