<section id="cda" class="">
    <div class="parallax1 disp-start-bottom" style="background-image: url({{ asset('build/img/16-9/band1.png') }});">
        <div class="parallax-caption mar1 pad1">
            <h3 class="txt-lum">OBJECTIF CDA</h3>
        </div>
    </div>
    {# <img src="{{ asset('build/img/16-9/band1.png') }}" class="fluid" alt=""> #}
    <div class="pad3">
        <h4 class="txt-lum">Recherche alternance pour le poste de : </h4>
        <h3 class="txt-succ">Concepteur / Développeur d'Application (Bac+3/4)</h3>
        <p class="txt-light">La CDA est pour moi un moyen efficace d'integrer la dynamique d'un projet d'entreprise mais aussi de valider mes compétences acquises en autodidacte.</p>
        <hr class="hr-succ mar1">
        <p class="txt-light">Si vous recherchez un alternant déja autonome en et performant en développement web, versioning git n'hésitez pas à me contacter.</p>
        <hr class="hr-succ mar1">
        <div class="accordion" id="accordionExample">
            <div class="bk-dl">
                <h2 class="accordion-header bk-dl" id="headingOne">
                <button class="accordion-button butn butn-succ collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <h5>Timing</h5>
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="txt-light">La formation débute en Septembre<br>
                        - Sur 22 mois<br>
                        <strong class="txt-succ">- 14 mois en entreprise</strong>
                        </p>
                    </div>

                </div>
            </div>

            </div> 
            <div class="bk-dl">
                <h2 class="accordion-header bk-dl" id="headingThree">
                <button class="accordion-button butn butn-succ collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h5>Contenu</h5>
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="txt-light">
                            - Concevoir et développer des composants d’interface utilisateur en intégrant les recommandations de sécurité<br>
                            - Concevoir et développer la persistance des données en intégrant les recommandations de sécurité<br>
                            - Concevoir et développer une application multicouche répartie en intégrant les recommandations de sécurité<br>
                            - Compétences transverses
                        </p>
                        <p class="txt-light">Vous trouverez le développé des contenus sur le site de l'organisme :</p>
                        <a href="https://humanbooster.com/programmes/alternance-concepteur-developpeur-dapplications-2/" target="_blank" class="butn butn-succ dayNight m-2">HUMAN BOOSTER</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>