<section id="diplome" class="">
    <div class="parallax3 disp-start-bottom" style="background-image: url({{ asset('build/img/16-9/band3.png') }});">
        <div class="parallax-caption mar1 pad1">
            <h3 class="txt-lum">DIPLOMES & FORMATIONS</h3>
        </div>
    </div>
    <div class="pad1 fluid">
        <div class="newBox">
            <item class="item"><div class="content pad1"><h3 class="m-0 txt-lum">PHP SYMFONY DQL</h3></div><img src="{{ asset('build/img/square/dev1.png') }}" alt="photo de profil"></item>
            <item class="item"><div class="content pad1"><h3 class="m-0 txt-lum">TWIG HTML CSS SASS BOOTSTRAP</h3></div><img src="{{ asset('build/img/square/dev2.png') }}" alt="photo de profil"></item>
            <item class="item"><div class="content pad1"><h3 class="m-0 txt-lum">JAVASCRIPT AJAX STIMULUS</h3></div><img src="{{ asset('build/img/square/dev3.png') }}" alt="photo de profil"></item>
            <item class="item"><div class="content pad1"><h3 class="m-0 txt-lum">API PLATEFORM</h3></div><img src="{{ asset('build/img/square/dev4.png') }}" alt="photo de profil"></item>
            <item class="item"><div class="content pad1"><h3 class="m-0 txt-lum">SEO SEMANTIQUE METADATAS MICRODATAS JSONLD</h3></div><img src="{{ asset('build/img/square/dev5.png') }}" alt="photo de profil"></item>
            <item class="item"><div class="content pad1"><h3 class="m-0 txt-lum">WEBPACK-ENCORE VERSIONING GIT</h3></div><img src="{{ asset('build/img/square/dev6.png') }}" alt="photo de profil"></item>
        </div>
    </div>
    <div class="padx3 mary2">
        <a class="butn butn-succ" data-bs-toggle="collapse" href="#collapseUdemy2" role="button" aria-expanded="false" aria-controls="collapseExample">
            UDEMY <span class="badge text-bg-danger">NEW</span><br>
            Modules - 2023
        </a>
        <div class="collapse pady1" id="collapseUdemy2">
            <div class="bk-dark pad2">
                <ul class="txt-lum"> 
                    <li>Docker 2023 (en cours...)</li>
                    <li>React Native 2023 (en cours...)</li>
                    <hr>
                    <li>React 2023 - Réalisation d'un pokedex deployé sur Firebase :
                        <a class="butn butn-succ mary1" href="https://react-pokemon-app-d6422.web.app/login" target="_blank"  role="button" aria-expanded="false">
                            Pokedex React
                        </a>
                    </li>
                    <hr>
                    <li>API REST NodeJS 2023, Express.js, Sequelize <br>
                        (projet non déployé : heroku est devenu payant)
                    </li>
                </ul>
            </div>
        </div>
        <hr>

        <a class="butn butn-succ" data-bs-toggle="collapse" href="#collapseHB" role="button" aria-expanded="false" aria-controls="collapseExample">
            Développeur Web et Web Mobile (bac+2) <br>
            Human Booster - 2021 / 2022 
        </a>
        <div class="collapse pady1" id="collapseHB">
            <div class="bk-dark pad2">
                <ul class="txt-lum"> 
                    <li>Symfony, Composer</li>
                    <li>API - WS REST</li>
                    <li>PHP, OO, DO</li>
                    <li>Déploiement Serveur</li>
                    <li>SQL, Bases de données ( Méthode MERISE )</li>
                    <li>Angular, Typescript</li>
                    <li>MVC</li>
                    <li>Webpack</li>
                    <li>Javascript, Ajax</li>
                    <li>HTML5, CSS3, Bootstrap5, Sass</li>
                    <li>Linux, Docker</li>
                    <li>CMS Wordpress</li>
                    <li>Méthode Agile, Scrum</li>
                    <li>Versionning GitLab</li>
                    <li>Maquettage, prototypage figma </li>
                </ul>
            </div>
        </div>
        <hr>

        <a class="butn butn-succ" data-bs-toggle="collapse" href="#collapseUdemy" role="button" aria-expanded="false" aria-controls="collapseExample">
            UDEMY <br>
            Modules - 2020 / 2021 
        </a>
        <div class="collapse pady1" id="collapseUdemy">
            <div class="bk-dark pad2">
                <ul class="txt-lum"> 
                    <li>Javascript, La formation ULTIME</li>
                    <li>PHP & MySQL, La formation ULTIME</li>
                    <li>SASS & SCSS, La formation ULTIME</li>
                    <li>Bootstap 5, La formation ULTIME</li>
                    <li>Flexbox, La formation ULTIME</li>
                    <li>HTML 5 & CSS 3, La formation ULTIME </li>
                </ul>
            </div>
        </div>
        <hr>

        <a class="butn butn-succ" >
             CFP - Menuiserie <br>
             AFPA 2001
        </a>
        <hr>
        <a class="butn butn-succ" >
            BTS Informatique Industrielle - première année <br>
            1995 / 1996 - C / C++ 
        </a>
        <hr>
        <a class="butn butn-succ" >
            Bac F3 - Electrotechnique <br>
            1994 / 1995 
        </a>

    </div>

    <div class="pad2"></div>
</section>