<section id="experiences" class="">


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner pad3">
        <div class="carousel-item active">
            {# card 1 ------------------------------------------------------------- #}
            <div class="job  bk-drk2 shdw-in-D brdr-rad10">
                <img src="{{ asset('build/img/banner/dev.jpg') }}" alt="logo APC" class="fluid">
                <div class="disp-col-center pad1 job__content">
                    <h3 class="title3 txt-second">Développement Web</h3>
                    <h4 class="sub-title3 txt-second-light">Symfony 6</h4>
                    <hr class="hr-soft">
                    <a type="button" class="butn butn-prim" data-bs-toggle="modal" data-bs-target="#devModal">
                        Voir
                    </a>
                </div>
            </div>

            <!-- Modal dev -->
            <div class="modal fade" id="devModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bk-drk2 shdw-in-D  pad2">
                        <h5 class="title3 txt-second">Développement Web</h5>
                        <h4 class="sub-title3 txt-second-light">Symfony 6.1 - PHP 8.1</h4>
                        <p class="txt-soft">
                            Gaëtan Thomas : Développeur Indépendant <br>
                            Stage 2022 (octobre/novembre)
                        </p>
                        <hr class="hr-soft">
                        <p class="txt-soft mar1">
                            <span class="txt-second"><strong>- Refonte :</strong></span> d'un site vitrine d'une école de musique : apausecroche.fr <br><br>
                            <span class="txt-second"><strong>- Upgrade :</strong></span> Mise à niveau du projet initial en Symfony 5.3 - PHP 7.4 en Symfony 6.1 - PHP 8.1. Utilisation du bundle Rector et correction des syntaxes <br><br>
                            <span class="txt-second"><strong>- Optimisation :</strong></span> Nettoyage du code, implémentation des balises html sémeantique spécifiques, implementtation de metaOG en variables. Installation du Bundle Liip Imagine pour optimiser les images <br><br>
                            <span class="txt-second"><strong>- Easyadmin :</strong></span> Installation du bundle Easyadmin et configuration complète du back-end (CRUDs) et de l'interface administratif. Génération de fichiers PDF avec le Bundle Snappy <br><br>
                            <span class="txt-second"><strong>- Calendrier :</strong></span> Refonte du calendrier d'évènements (fullstack), création en base de données, crud controller, front controller et dynamique Javascript avec stimulus (cette feature n'est pas encore déployée) <br><br>
                            <span class="txt-second"><strong>- Web dynamique :</strong></span> Javascript passé en différents controlleurs Stimulus <br><br>
                            <span class="txt-second"><strong>- Features :</strong></span> Réalisation de différentes features telles qu'un accordéon en stimulus pour le FAQ... <br><br>
                        </p>
                        <hr class="hr-soft">
                        <a  class="butn butn-prim pad2" data-bs-dismiss="modal">Fermer</a>
                    </div>
                </div>
            </div>
            {# card 1 ------------------------------------------------------------- #}
        </div>
        <div class="carousel-item">
            {# card 2 ------------------------------------------------------------- #}
            <div class="job  bk-drk2 shdw-in-D brdr-rad10">
                <img src="{{ asset('build/img/banner/craft.jpg') }}" alt="logo APC" class="fluid">
                <div class="disp-col-center pad1 job__content">
                    <h5 class="title3 txt-second">Artisanat</h5>
                    <h6 class="sub-title3 txt-second-light">Menuisier / tourneur / luthier</h6>
                    <hr class="hr-soft">
                    <a type="button" class="butn butn-prim" data-bs-toggle="modal" data-bs-target="#artModal">
                        Voir
                    </a>
                </div>
            </div>
            <div class="modal fade" id="artModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bk-drk2 shdw-in-D  pad2">
                        <h5 class="title3 txt-second">Artisanat</h5>
                        <h4 class="sub-title3 txt-second-light">Menuisier / tourneur / luthier</h4>
                        <hr class="hr-soft">
                        <p class="txt-soft mar1">
                            <span class="txt-second"><strong>- Gestion de projet</strong></span><br><br>
                            <span class="txt-second"><strong>- Plans :</strong></span> lecture, analyse<br><br>
                            <span class="txt-second"><strong>- Analyse de produits :</strong></span> création de plans, réalisation de prototypes<br><br>
                            <span class="txt-second"><strong>- Éco-responsabilité :</strong></span> Connaître, favoriser et valoriser les essences de bois locales, mise au points de produits de traitements bios<br><br>
                            <span class="txt-second"><strong>- Processus :</strong></span> optimisation des temps exécution, réalisations de gabarits<br><br>
                            <span class="txt-second"><strong>- Outils :</strong></span> recherches historiques, expérimentations, créations d’outils ultra-spécifiques<br><br>
                            <span class="txt-second"><strong>- Normalisation :</strong></span> stabilisations des processus et des produits<br><br>
                            <span class="txt-second"><strong>- Réglage !</strong></span> <br><br>
                        </p>
                        <hr class="hr-soft">
                        <p class="txt-soft mar1">
                            <span class="txt-second">2019 / 2020 :</span><strong> Menuisierie / ebenisterie</strong><br>
                            Manpower<br><br>
                            <span class="txt-second">2007 / 2017 :</span><strong> Entrepreneur en lutherie</strong><br>
                            Cornemuses et épinettes - Fournisseur pour le conservatoires d'Amiens et de Beauvais<br><br>
                            <span class="txt-second">2004 / 2006 :</span><strong> Sculpteur, tourneur sur bois</strong><br>
                            Artiste Indépendant<br><br>
                            <span class="txt-second">2004 / 2002 :</span><strong> Assistant de production en design</strong><br>
                            Editions Limitées Paris<br><br>
                        </p>
                        <hr class="hr-soft">

                        <a type="button" class="butn butn-prim pad2" data-bs-dismiss="modal">Fermer</a>
                    </div>
                </div>
            </div>
            {# card 2 ------------------------------------------------------------- #}
        </div>
        <div class="carousel-item">
            {# card 3 ------------------------------------------------------------- #}
            <div class="job  bk-drk2 shdw-in-D brdr-rad10">
                <img src="{{ asset('build/img/banner/perma.jpg') }}" alt="logo APC" class="fluid">
                <div class="disp-col-center pad1 job__content">
                    <h5 class="title3 txt-second">Pédagogie </h5>
                    <h6 class="sub-title3 txt-second-light">Formateur en permaculture</h6>
                    <hr class="hr-soft">
                    <a type="button" class="butn butn-prim pad2" data-bs-toggle="modal" data-bs-target="#confModal">
                        Voir
                    </a>
                </div>
            </div>
            <div class="modal fade" id="confModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bk-drk2 shdw-in-D  pad2">
                        <h5 class="title3 txt-second">Pédagogie & Techniques</h5>
                        <h4 class="sub-title3 txt-second-light">Conférencier / formateur en permaculture</h4>
                        <hr class="hr-soft">
                        <p class="txt-soft mar1">
                            <span class="txt-second"><strong>- Gestion de projet</strong></span><br><br>
                            <span class="txt-second"><strong>- Analyse de la spécificité des terrains</strong></span> <br><br>
                            <span class="txt-second"><strong>- Expérimentations de techniques ancestrales</strong></span> <br><br>
                            <span class="txt-second"><strong>- Éco-responsabilité : </strong></span> Organisation du collectage et valorisations des dechets organiques locaux<br><br>                        
                            <span class="txt-second"><strong>- Prospectives sur les dernières innovations et recherches</strong></span><br><br>
                            <span class="txt-second"><strong>- Transformer des pratiques expérimentales en techniques concrètes, pragmatiques et applicables</strong></span> <br><br>
                            <span class="txt-second"><strong>- Réalisation de contenu pédagogique</strong></span> <br><br>
                            <span class="txt-second"><strong>- Enseignement et conférences</strong></span> <br><br>
                            <span class="txt-second"><strong>- Mise en place de jardins potagers participatifs pour des communes et des communautés de communes</strong></span> <br><br>
                        </p>
                        <hr class="hr-soft">
                        <p class="txt-soft mar1">
                            <span class="txt-second">2017 / 2018 :</span><strong> Projet de mise en place d'un centre de formation en permaculture</strong><br>
                            Pothus Robinson<br><br>
                            <span class="txt-second">2014 / 2018 :</span><strong> Formateur, conférencier en permaculture</strong><br>
                            CPIE Vallée de Somme et Lycée agricole CFPPA du Paraclet et de Péronne<br><br>
                        </p>
                        <hr class="hr-soft">
                        <a type="button" class="butn butn-prim pad2" data-bs-dismiss="modal">Fermer</a>
                    </div>
                </div>
            </div>

            {# card 3 ------------------------------------------------------------- #}
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{# ------------------------------------------------------------------------------------------------------------------------- #}

        {# <div class="pad2 text-center"> 
            <hr class="hr-succ">
            <h3 class="txt-light">Soft Skills :</h3>
            <div class="butn butn-succ dayNight m-2">Analytique / Synthétique</div><br>
            <div class="butn butn-succ dayNight m-2">Empathique</div><br>
            <div class="butn butn-succ dayNight m-2">Enthousiaste</div><br>
            <hr class="hr-succ">
        </div> #}

</section>