<section id="information" class="">
    <div class="parallax2 disp-start-bottom" style="background-image: url({{ asset('build/img/16-9/band2.png') }});">
        <div class="parallax-caption mar1 pad1">
            <h3 class="txt-lum">INFORMATIONS & LIENS</h3>
        </div>
    </div>
    <div class="pad3">
        <h4 class="txt-light">Liens</h4>
        <a href="https://gitlab.com/yannicktindy" target="_blank" class="butn butn-succ dayNight m-2">GitLab</a>
        <a href="https://www.linkedin.com/in/yannick-tindy/"  target="_blank" class="butn butn-succ dayNight m-2">LinkedIn</a>
        <a href="{{ asset('build/img/gen/CV-yannick-tindy.png') }}"  target="_blank" class="butn butn-succ dayNight m-2">CV Papier</a>
        
        <hr class="hr-succ mar1">

        <h4 class="txt-light">Informations</h4>
        <div class="butn butn-out-succ mary1"> Maj : 03/08/2023</div>
        <div class="bk-drk1 pad2 butn-glow">
            <p class="txt-lum m-0">Ce site est en cours de refonte pour respecter les standards des <span class="txt-succ">"best practices"</span> tant du côté Back-End que Front-End et pour développer une documentation adéquate.<br> 
            Les autres pages ont été retirées.<p> 
            <hr class="hr-succ mar1">
            <p class="txt-lum m-0">Je travaille également sur la mise en place d'une fonctionnalité de <span class="txt-succ">blog</span> pour présenter de manière plus optimale mes projets de développement et <span class="txt-succ">mes dépôts GIT</span>.<br> 
            Coming soon !<br> </p>
        </div>
        <hr class="hr-succ mar1">

        <p class="txt-light m-0">- Je suis bénévole sur un gros projet symfony 6 pour un association. <br>
        C'est tellement bon de coder sur un bon projet.<br> 
        Le dépot GIT n'est malheureusement pas publique et n'apparait pas dans ma time line GitLab.</p>
        <hr class="hr-succ mar1">
        <p class="txt-light m-0">- Ce site est developpé sur VsCode en : Symfony 6. J'ai tout mon back-end à refonder notament pour les api pour mes futurs projets front. C'est en cours...</p> 
        <p class="txt-light m-0">- Les images sont générées avec Midjourney</p> 
        <p class="txt-light m-0">- Ce CV sera rapidement amélioré avec de nouveaux éléments</p>
        <p class="txt-light m-0">- J'ai passé beaucoup de temps à me former en back-End en Symfony 6 et NodeJS. <br>
        Je me remet desormais sur le front. Je suis actuellement en formation UDEMY sur React Native.</p>
        <hr class="hr-succ mar1">

        <h6 class="txt-light">Pourquoi Silenus ?</h6>
        <p class="txt-light m-0">Martin Silenus est un des héros du roman de Dan Simmons Hyperion. Cette épopée m'a profondément marqué.</p>
        <hr class="hr-succ mar1"> 


    </div>
</section>