<section id="presentation" class="">
    <div class="parallax1 disp-start-bottom"  style="background-image: url({{ asset('build/img/16-9/band1.png') }});">
        <div class="parallax-caption mar1 pad1">
            <h3 class="txt-lum">PRESENTATION PERSONNELLE</h3>
        </div>
    </div>
    <div class="pad3">

        <h3 class="txt-succ">Du travail du bois au monde du Code</h3>
        <hr class="hr-succ">
        <p class="txt-light">Passionné de création, j'ai d'abord exercé pendant 15 ans le métier exigeant de luthier, nécessitant précision et perfectionnisme.</p>
        <hr class="hr-succ">
        <p class="txt-light">En 2000, j'ai créé mon <span class="txt-succ"><strong>premier site web</strong></span> en HTML, révélant mon intérêt naissant pour le développement et le code. 
        Par la suite, j'ai installé divers CMS pour des associations amies et mon entreprise, apprenant à manipuler <span class="txt-succ"><strong>WordPress, Drupal ou Joomla</strong></span>.</p>
        <hr class="hr-succ">
        <p class="txt-light">Suite à un <span class="txt-succ"><strong>accident de travail</strong></span> en 2020, j'ai saisi l'opportunité de faire évoluer ma carrière vers le numérique. 
        Avec méthode et <span class="txt-succ"><strong>détermination</strong></span>, j'ai suivi de nombreuses formations pour maîtriser le développement web, du HTML/CSS jusqu'à <span class="txt-succ"><strong>Symfony</strong></span>.</p>
        <hr class="hr-succ">
        <p class="txt-light">Après l'obtention de mon titre <span class="txt-succ"><strong>Bac+2</strong></span> en Dev Web / Web Mobile, j'ai continué à perfectionner rigoureusement mes connaissances en <span class="txt-succ"><strong>développement backend</strong></span> et Symfony, domaine qui me motive particulièrement.</p>
        <hr class="hr-succ">
        <p class="txt-light">Mon parcours d'artisan m'a apporté le <span class="txt-succ"><strong>sens du travail</strong></span> bien fait et du détail. Mon expérience d'entrepreneur m'a rendu <span class="txt-succ"><strong>autonome et débrouillard</strong></span>. <br><br>
        Dynamique, <span class="txt-succ"><strong>enthousiaste et force de proposition</strong></span>, j'aspire désormais à relever les challenges techniques de développeur.</p>
        <hr class="hr-succ">
        <p class="txt-light">Bien que reconnu <span class="txt-succ"><strong>travailleur handicapé</strong></span> suite à un accident, je suis pleinement apte à occuper un poste de développeur web <span class="txt-succ"><strong>sans aménagement</strong></span> particulier. <br><br>
        Ma <span class="txt-succ"><strong>motivation</strong></span> et mon dynamisme me permettent de mener à bien toutes les missions confiées. Ma situation administrative est même un <span class="txt-succ"><strong>atout pour une entreprise</strong></span> souhaitant favoriser l'inclusion, puisqu'elle ouvre droit à des <span class="txt-succ"><strong>aides financières</strong></span>. <br><br>
        Surtout, elle démontre ma <span class="txt-succ"><strong>résilience</strong></span> et ma <span class="txt-succ"><strong>capacité à rebondir</strong></span> professionnellement malgré les aléas de la vie. Je transforme ce handicap en force pour relever de nouveaux <span class="txt-succ"><strong>défis passionnants</strong></span>.</p>
        <hr class="hr-succ">
        </p>
        <span class="txt-succ"><strong></strong></span>

        <div class="pad2 text-center"> 
            <hr class="hr-succ">
            <h3 class="txt-light">Hobbies :</h3>
            <div class="butn butn-succ dayNight m-2">Symfony</div><br>
            <div class="butn butn-succ dayNight m-2">Ecriture / Articles / Nouvelles</div><br>
            <div class="butn butn-succ dayNight m-2">Lutherie : Trad / Folk </div><br>
            <div class="butn butn-succ dayNight m-2">Permaculture / Ecologie</div>
            <hr class="hr-succ">
        <div>     
       
    </div>
</section>