<section id="projets" class="">
    <div class="parallax2 disp-start-bottom" style="background-image: url({{ asset('build/img/16-9/band2.png') }});">
        <div class="parallax-caption mar1 pad1">
            <h3 class="txt-lum">Projets</h3>
        </div>
    </div>
    <div class="pad3">
        <h4 class="txt-succ">Modules Internes</h4>
            <p class="txt-light m-0">Différents modules internes à Silenus ( Symfony 6.2 )</p>
            <p class="txt-light m-0">L'objectif de ces éléments est de produire du contenu pour mon Api (API-Platefrome) afin d'avoir de la matière pour mes développements SPA en Angular, React Native ou autre...</p>
            <p class="txt-light m-0">Ces projets sont des bases qui vont evoluer</p>
            <p class="txt-light m-0">** Mes ressources API ne sont pas encore exposées</p> 
            <a class="butn butn-succ mary1" href="{{ path('app_reverso_enter') }}">Reverso <span class="badge text-bg-danger">Updated</span></a>
            <a class="butn butn-succ mary1" href="{{ path('app_hat_enter') }}">Hat Shop <span class="badge text-bg-danger">NEW</span></a>
            <a class="butn butn-succ mary1" href="{{ path('app_test') }}">Quizz <span class="badge text-bg-danger">NEW</span></a>
        <hr class="hr-succ">

        <h4 class="txt-succ">Projets externes</h4>
            <p class="txt-light m-0">Pour une raison inconnue, l'hébergeur PlanetHoster a supprimé mon compte gratuit. Des projets seront bientôt redéployés chez OVH</p> 
            <a class="butn butn-succ mary1" href="https://react-pokemon-app-d6422.web.app/login" target="_blank"  role="button" aria-expanded="false">Pokedex React</a>
        <hr class="hr-succ">
    </div>
</section>