<section id="symfony" class="">
    <div class="parallax2 disp-start-bottom" style="background-image: url({{ asset('build/img/16-9/band1.png') }});">
        <div class="parallax-caption mar1 pad1">
            <h3 class="txt-lum">PASSION SYMFONY</h3>
        </div>
    </div>
    {# <img src="{{ asset('build/img/16-9/band2.png') }}" class="fluid" alt=""> #}
    <div class="pad3" >
        <div class="symfony mary2">
            <img src="{{ asset('build/img/square/symfony.png') }}" alt="symfony" class="img-fluid">
        </div>

        <p class="txt-light">Mon temps libre est dedié à <span class="txt-succ">SYMFONY</span><br>
            Ce n'est pas une simple volonté de monter en compétence. c'est une vraie <span class="txt-succ">passion !</span><br>
            J'ai fait de la veille technologique pour ne pas m'enfermer. j'ai suivi différents modules UDEMY : API NodeJS, RECT, REACT Native.<br>
            Mais il n'y a rien a faire ...<br><br>
        </p>    
        <h3 class="txt-succ">Je suis un <span class="txt-danger">Symfony Addict !</span></h3><br><br>
        

        <p class="txt-lum">
            <strong class="txt-succ">Back-End ++ : </strong> DOCTRINE ORM, Entity, Database création, migrations, QueryBuilder, DQL, CRUDs<br><br>
            <strong class="txt-succ">Front-End : </strong> TWIG, JavaScript, AJAX, Stimulus, Turbo, TwigJS<br><br>
            <strong class="txt-succ">SEO : </strong> Sémantique HTML, Automatisation des Métadatas, Open Graph, MicrosDatas & JsonLD, Architecture des urls<br><br>
            <strong class="txt-succ">Perfomance : </strong> Webpack Encore, Optimisation des assets, gestion du cache avec turbo <br><br>
            <strong class="txt-succ">Sécurité : </strong> securité des routes, des formulaires, gestion des autorisations et accés <br><br>
            <strong class="txt-succ">Uprgrade : </strong> Mise à jour de symfony, performance PHP 8.1, Rector Bundle<br><br>
            <strong class="txt-succ">API : </strong> conception, documentation et sécurisation : API Plateform + NelmioApiDocBundle + LexikJWTAuthenticationBundle <br><br>
            <strong class="txt-succ">Easyadmin : </strong> Dashboard, Back-Office & Cruds <br><br>
            <strong class="txt-succ">Mailer : </strong> Envoi d'email <br><br>
            <strong class="txt-succ">ETC ...!</strong> <br><br>
        </p>

        <div class="disp-center mt-5 pt-3 padx2">
        <div class="butn butn-glow p-3 bk-obsc text-center">
            <h3 class="txt-succ">Si vous cherchez un dev Symfony, <br>
            CALL ME!</h3>
            {# <h5 class="txt-warn">Si vous cherchez un dev Wordpress, <br>
            je suis pas dispo ...</h5> #}
        </div>
    </div> 

        {# <p>
            <button class="butn butn-succ" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                <h5>Framework & Bundles</h5>
            </button>
        </p> #}
        {# <div class="fluid">
            <div class="collapse collapse-horizontal fluid" id="collapseWidthExample">
                <div class="bk-dark pad2 fluid">
                    <p class="txt-lum">
                        - <strong class="txt-succ">Doctrine</strong> ORM, Entity, Database création, migrations, QueryBuilder, CRUDs<br>
                        - <strong class="txt-succ">Routing Controlleurs</strong>, securité des routes <br>
                        - <strong class="txt-succ">Servicing</strong> Creations de services, inversion de contrôle et injection <br>
                        - <strong class="txt-succ">Twig</strong> Templating, filtres <br>
                        - <strong class="txt-succ">Encore</strong> Webpack <br>
                        - <strong class="txt-succ">User</strong> Make, auth, login & register (karser-recaptcha3-bundle) <br>
                        - <strong class="txt-succ">Formulaires</strong> createForm, creatView & handleRequest <br>
                        - <strong class="txt-succ">Mailer</strong> Envoi d'email <br>
                        - <strong class="txt-succ">Easyadmin</strong> Dashboard & Cruds <br>
                        - <strong class="txt-succ">API Plateform</strong> + LexikJWTAuthenticationBundle <br>
                        - <strong class="txt-succ">Symfony UX</strong> Stimulus & Turbo <br>
                        - <strong class="txt-succ">File Upload</strong> Importation de fichiers images ou autres <br>
                        - <strong class="txt-succ">Fixtures</strong> Alice Bundle <br>
                        - <strong class="txt-succ">KNP Snappy</strong> génération de pdf <br>
                        - <strong class="txt-succ">DomPDF</strong> génération de pdf <br>
                        - <strong class="txt-succ">LippImagine</strong> gestionaire d'optimisation des images <br>
                    </p>
                </div>
            </div>
        </div> #}
    {# </div> #}
</section>