{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Bienvenue dans l'administration
{% endblock %}

{% block main %}

    <p>All visits : {{ allVisits | length }}</p>
    <p>All Users : {{ allUsers | length }}</p>  

{% endblock %}