.section__major {
    width: 100%;
    height: 100%;
    // min-height: 100vh;     
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section__major__heading {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: cover;
    background-position: center;
}

.section__major__heading__present {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag__cloud {
    flex-wrap: wrap;
}

.mobile__img__bk {
    display: none;
}

.test__run__back {
    width: 100%;
    max-width: 768px;
    height: 100vh;
    background-size: cover;
    background-position: center;
}   

.crd__test__result {
    background-color:rgba(0,0,0,0.5);
    backdrop-filter: grayscale(100%);

}

@media (max-width: 768px) {
    .mobile__img__bk {
        width: 100%;
        height: 100%;
        display:block;
        background-size: cover;
        background-position: center;
    }
} 





