{% extends 'new-base.html.twig' %}


    {% block title %}A Propos {% endblock %}
    {% block og_title %}A Propos{% endblock %}

    {% block description %}{% endblock %}
    {% block og_description %}  {% endblock %}

    {% block keywords %}{% endblock %}

    {% block canonical %}https://silenus.fr{% endblock %}
    {% block og_link %}https://silenus.fr{% endblock %}

    {% block og_image %}https://silensus.fr/build/img/banner/ban0.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {{ encore_entry_link_tags('style') }}
        <style>
            .logo__symfony {
                witdh: 200px;
                height: 200px;
                border-radius: 50%;
            }

        </style>
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/bando/bando1.jpg",
        } 
    %}
    {# <a href="#present" class="butn butn-prim mar1" ><span class="label1">Symfony</span></a>
    <a href="#1" class="butn butn-prim mar1" ><span class="label1">Compétences</span></a>
    <a href="#2" class="butn butn-prim mar1" ><span class="label1">Recherche</span></a>
    <a href="#3" class="butn butn-prim mar1" ><span class="label1">Alternance</span></a> #}

    {% include "partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# nav ----------------------------------------------------------------------- #}
        {% include "partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        {# <a href="{{ path('app_cv_dev') }}" class="butn butn-prim marx1" ><span class="label1">SYMFONY</span></a> #}
        <a href="{{ path('app_symfony') }}" class="butn butn-prim " ><span class="label1">Symfony</span></a>
        <a href="{{ path('app_new_cv') }}" class="butn butn-prim " ><span class="label1">CV</span></a>
        
        <a href="{{ path('app_projets') }}" class="butn butn-prim " ><span class="label1">Projets</span></a>
        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}

        {# ------------------------------------------------------------ #}
        <section  class="section__minor bk-drk2 shdw-in-D pad3">
            <h1 class="title2 txt-second">A Propos</h1>
            <hr class="hr-soft">
            <section class="shdw-in-D brdr-rad10 pad3 ">
                <p class="txt-soft">
                    Je suis développeur junior Symfony fullstack / back-end ++.<br><br>

                    Cette plateforme est développée avec le framework Symfony 6<br>
                    Avec Visual Studio Code <br>
                    Et est hébergée sur un serveur VPS OVH.<br>
                    Les images sont générées avec Midjourney.<br><br>

                    <span class="sub-title3 txt-second-light">
                        Cette plateforme est en cours de développement.<br>
                        J'ai beaucoup testé de choses, ces derniers mois.<br>
                        Je souhaite maintenant rentrer dans une pratique très rigoureuse et m'appliquer sur les meilleurs pratiques.<br>
                        Ce site va être corrigé et amélioré au fur et à mesure.<br><br>

                        Dernière MAJ : 30/08/2023<br><br>
                    </span>

                    Martin Silenus est l'un des personnages de la saga de science fiction mythique et mythologique du romancier Dan Simmons : Hypérion.<br>
                    Cette oeuvre m'inspire beaucoup par son souflle épique et son univers riche et complexe.<br>
                </p>
            </section>

        </section>
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        {# ------------------------------------------------------------ #}
        {% include "partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}