{% extends 'new-base.html.twig' %}


    {% block title %}Mentions Légales {% endblock %}
    {% block og_title %}Mentions Légales{% endblock %}

    {% block description %}{% endblock %}
    {% block og_description %}  {% endblock %}

    {% block keywords %}{% endblock %}

    {% block canonical %}https://silenus.fr{% endblock %}
    {% block og_link %}https://silenus.fr{% endblock %}

    {% block og_image %}https://silensus.fr/build/img/banner/ban0.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {{ encore_entry_link_tags('style') }}
        <style>
            .logo__symfony {
                witdh: 200px;
                height: 200px;
                border-radius: 50%;
            }

        </style>
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/bando/bando1.jpg",
        } 
    %}
    {# <a href="#present" class="butn butn-prim mar1" ><span class="label1">Symfony</span></a>
    <a href="#1" class="butn butn-prim mar1" ><span class="label1">Compétences</span></a>
    <a href="#2" class="butn butn-prim mar1" ><span class="label1">Recherche</span></a>
    <a href="#3" class="butn butn-prim mar1" ><span class="label1">Alternance</span></a> #}

    {% include "partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# nav ----------------------------------------------------------------------- #}
        {% include "partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        {# <a href="{{ path('app_cv_dev') }}" class="butn butn-prim marx1" ><span class="label1">SYMFONY</span></a> #}
        <a href="{{ path('app_symfony') }}" class="butn butn-prim " ><span class="label1">Symfony</span></a>
        <a href="{{ path('app_new_cv') }}" class="butn butn-prim " ><span class="label1">CV</span></a>
        
        <a href="{{ path('app_projets') }}" class="butn butn-prim " ><span class="label1">Projets</span></a>
        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}

        {# ------------------------------------------------------------ #}
        <section  class="section__minor bk-drk2 shdw-in-D pad3">
            <h1 class="title2 txt-second">Mentions légales</h1>
            <hr class="hr-soft">
            <section class="shdw-in-D brdr-rad10 pad3 ">
                <p class="txt-soft">
                    Yannick Tindy<br>
                    550 rue de la Côte, 42110 CIVENS, France<br>
                    yannicktindy@gmail.com<br><br>

                    Hébergeur : OVH, 2 rue Kellermann, 59100 Roubaix, France<br><br>

                    <strong class="txt-second">Conditions d'utilisation :</strong><br>
                    En accédant à ce site Web, vous acceptez d'être lié par les conditions d'utilisation suivantes :<br><br>

                    Le contenu de ce site Web est fourni à titre informatif uniquement et ne doit pas être considéré comme un conseil professionnel.<br>
                    Nous nous réservons le droit de modifier le contenu de ce site Web à tout moment sans préavis.<br>
                    Nous ne sommes pas responsables des dommages directs ou indirects résultant de l'utilisation de ce site Web ou des informations qu'il contient.<br><br>
                    
                    <strong class="txt-second">Propriété intellectuelle :</strong><br>
                    Ce site Web et son contenu sont protégés par les lois sur la propriété intellectuelle et ne peuvent être reproduits sans autorisation écrite préalable.<br><br>

                    <strong class="txt-second">Données personnelles :</strong><br>
                    Les données personnelles collectées sur ce site Web ne seront utilisées que dans le cadre prévu par la loi et ne seront pas partagées avec des tiers sans votre consentement.<br><br>

                    <strong class="txt-second">Cookies :</strong><br>
                    Ce site Web utilise des cookies pour améliorer votre expérience utilisateur. <br>
                    En utilisant ce site, vous acceptez l'utilisation de cookies conformément à notre politique en matière de cookies.<br><br>

                    Si vous avez des questions ou des préoccupations concernant ces mentions légales, veuillez nous contacter à l'adresse e-mail indiquée ci-dessus.<br>
                </p>
            </section>

        </section>
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        {% include "partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}