{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('trunk') }}
    {{ encore_entry_link_tags('test') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('modalTest') }}
    {# {{ encore_entry_script_tags('reverso') }} #}
{% endblock %}

{% block body %}

<div class=" disp-center fluid">
    <div class="trunk" style="background-image: url('https://www.silenus.fr/build/img/bando/bando2.jpg'); object-fit: cover;">
        <div class="disp-col-center pad1 fluid">
            <div class="block-shadow shdw-in-D pad1 fluid">
                <div class="disp-end">
                    <div class="dropdown dropstart text-end">
                        <a class="butn butn-prim " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark shdw-in-D pad1">
                            <li><a class="butn butn-prim" href="{{ path('app_projets') }}#1">Quitter</a></li>
                            <li><a class="butn butn-prim mb-1" data-bs-toggle="modal" data-bs-target="#infoModal">Informations</a></li>
                        </ul>
                    </div>
                </div>    
                <div class="disp-col-between">
                    {# <h2 class="sub-title2 txt-second-light">Félictiations !</2>
                    <p class="txt-soft">Vous avez terminé le :</p> #}
                    <h1 class="title2 txt-second">{{ test.name }}</h1>
                    <p class="sub-title2 txt-soft mar0">Vos résultats : </p>

                </div>    

                <table class="table block-shadow shdw-in-D mary1">
                    <thead>
                        <tr>
                            <th class="txt-soft" scope="col">Facteurs</th>
                            <th class="txt-soft" scope="col">Scores</th>
                            <th class="txt-soft" scope="col">Déscriptions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for score in scores %}
                        <tr>
                            {# switch case color for score.force #}
                            
                            <td class="sub-title3 txt-second-light">{{score.factor.name}}</td>
                            {% if score.force > 85 %}
                                <td><h5 style="color: green;">{{score.force}}%</h5></td>
                            {% elseif score.force > 65 %}
                                <td><h5 style="color: greenyellow;">{{score.force}}%</h5></td>
                            {% elseif score.force > 45 %}
                                <td><h5 style="color: yellow;">{{score.force}}%</h5></td>
                            {% elseif score.force > 25 %}
                                <td><h5 style="color: orange;">{{score.force}}%</h5></td>
                            {% else %}
                                <td><h5 style="color: red;">{{score.force}}%</h5></td>
                            {% endif %}

                            {# {% if score.force > 85 %}
                                <td><h5 class="txt-res1">{{score.force}}%</h5></td>
                            {% elseif score.force > 65 %}
                                <td><h5 class="txt-res2">{{score.force}}%</h5></td>
                            {% elseif score.force > 45 %}
                                <td><h5 class="txt-res3">{{score.force}}%</h5></td>
                            {% elseif score.force > 25 %}
                                <td><h5 class="txt-res4">{{score.force}}%</h5></td>
                            {% else %}
                                <td><h5 class="txt-res5">{{score.force}}%</h5></td>
                            {% endif %}     #}
                            <td><P class="txt-soft">{{score.factor.descr}}</p></td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                {# <a href="{{ path('app_projets') }}#1" class="butn butn-prim">Quitter </a> #}
                    </div>
                </div> 
            </div>
        </div>   

<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark shdw-in-D pad1">
            <div class="modal-header pad1">
                <h1 class="modal-title title3 fs-5 txt-second" id="exampleModalLabel">Informations Quizz</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="txt-soft">
                    Ceci est une démonstration d'un quizz en ligne en Javascript et PHP Symfony 6.1<br>
                    Il a pour objectif de servir de suppport pour support pour mon API.<br>
                    Il est encore en cours de développement.<br>
                    Bientôt plus d'infos ... !
                </p>


            </div>
            <div class="modal-footer">
                
                <a href="{{ path('app_projets') }}#1" class="butn butn-prim">Quitter </a>
                <a type="button" class="butn butn-prim" data-bs-dismiss="modal">Fermer la fenêtre</a>
            </div>
        </div>
    </div>
</div>        
{% endblock %}