{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('trunk') }}
    {{ encore_entry_link_tags('test') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('modalTest') }}
    {# {{ encore_entry_script_tags('reverso') }} #}
{% endblock %}

{% block body %}

<div class=" disp-center fluid">
    <div class="trunk" style="background-image: url('https://www.silenus.fr/build/img/bando/bando2.jpg'); object-fit: cover;">
    </div>
<div>

            {# {{ form_start(testForm) }} #}
<form method="POST">
{% for key, quest in arrayQuests %}
    {% if key == 0 %}
        <div class="modal fade mt-5 mt-sm-3" id="modalTest" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="testrun p-3">
                        <div><h2 class="title2 txt-second">QUIZZ</h2></div>
                        <div><h1 class="sub-title2 txt-soft">{{test.name}}</h1></div>
                        <hr class="hr-soft">
                        <p class="info1 txt-second-light">{{test.descr}}</p>
                        
                        <h4 class="title3 txt-soft">{{ key + 1 }} / {{ arrayQuests | length }}</h4>
                        {# <div><h2 class="text-center">{{ count + 1 }} / {{ length }}</h2></div> #}
                        <div class="testrun__question bg-dark my-5 p-3"><p class="txt-soft">{{quest.name}}</p></div>
                        <div class="testrun__consent px-3">
                            <div class="text-danger testrun__consent__text">
                                <b>Non !</b>
                            </div>
                            <div class="text-warning testrun__consent__text">
                                <b>Neutre</b>
                            </div>
                            <div class="text-success testrun__consent__text">
                                <b>Oui !</b>
                            </div>
                        </div>
                        <div class="testrun__choices">


        {% else %}
            <div class="modal fade mt-5 mt-sm-3" id="modalTest{{key}}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="testrun p-3">
                            <div><h2 class="title2 txt-second">QUIZZ</h2></div>
                            <div><h1 class="sub-title2 txt-soft">{{test.name}}</h1></div>
                            <hr class="hr-soft">
                            <p class="info1 txt-second-light">{{test.descr}}</p>
                            
                            <h4 class="title3 txt-soft">{{ key + 1 }} / {{ arrayQuests | length }}</h4>
                            <div class="testrun__question bg-dark my-5 p-3"><p class="txt-soft">{{quest.name}}</p></div>
            
                            <div class="testrun__consent px-3">
                                <div class="text-danger testrun__consent__text">
                                    <b>Non !</b>
                                </div>
                                <div class="text-warning testrun__consent__text">
                                    <b>Neutre</b>
                                </div>
                                <div class="text-success testrun__consent__text">
                                    <b>Oui !</b>
                                </div>
                            </div>
                            <div class="testrun__choices">
                                {% endif %}                        
                                <div class="form-check-container">
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="choices_{{ key }}" id="choices1_{{ key }}" value="0">
                                    </div>
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="choices_{{ key }}" id="choices2_{{ key }}" value="8">
                                    </div>
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="choices_{{ key }}" id="choices3_{{ key }}" value="16">
                                    </div>
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="choices_{{ key }}" id="choices4_{{ key }}" value="24">
                                    </div>
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="choices_{{ key }}" id="choices5_{{ key }}" value="32">
                                    </div>
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="choices_{{ key }}" id="choices6_{{ key }}" value="40">
                                    </div>
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="choices_{{ key }}" id="choices7_{{ key }}" value="50">
                                    </div>
                                </div>

                                {# <imput type="hidden" id="factorId_{{ key }}" name="factorId_{{ key }}" value="{{ quest.factorId }}"> #}
                                <div class="d-none">
                                    <input type="number" id="factorId_{{ key }}" name="factorId_{{ key }}" value="{{ quest.factorId }}">
                                </div>
                            </div>
                            {% if key == countQuests - 1 %}
                                <button type="submit" class="butn butn-prim d-none">Calculer</button>
                            {% else %}
                                <a id="{{ key }}" type="button" class="butn butn-prim next d-none mary1"  
                                    data-bs-target="#modalTest{{ key + 1 }}" 
                                    data-bs-toggle="modal"
                                    >
                                    Suivant
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </form>

            
            </div>
        </div>
    </div>
</div> 

{% endblock %}