{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('trunk') }}
    {{ encore_entry_link_tags('test') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {# {{ encore_entry_script_tags('reverso') }} #}
{% endblock %}

{% block body %}

<div class="disp-center fluid">
    <div class="trunk" style="background-image: url('https://www.silenus.fr/build/img/9-16/back2.png'); object-fit: cover;">
  <!-- Votre contenu ici -->
        <div class="block-shadow pad2 disp-col-center">
            <h3 class="txt-succ">Quizz</h3>
            <h4 class="txt-lum">Une app qui permet de créer des tests</h4>
            <p  class="txt-light">Ici vous pourrez effectuer un test de démo sur le thème :</p>
            <h6 class="txt-succ">Quel type de développeur êtes vous ?</h6>
            <hr class="hr-succ">
            <h4 class="txt-succ">Consentement</h4>
            <p  class="txt-light">Pour tester les fonctionnalités de ce test vous devez accepter les cookies.</p>
            <p  class="txt-light">Vos scores seront enregistrés dans un cookie fonctionnel sur votre navigateur.</p>
            <p  class="txt-light">Un bouton de suppression sera disponible à la fin du test pour supprimer ce cookie.</p>
            <hr class="hr-succ">
            <a href="{{ path('app_test_cookie') }}" class="butn butn-succ">Acceptez le cookie et quizzez !</a>
        </div>
    </div>
<div


{% endblock %}