<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="https://www.silenus.fr/build/img/gen/favicon.png" />
  
        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="{% block description %}{% endblock %}"/>
        <meta name="author" content="yannick tindy"/>
        <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
        <link rel="canonical" href="{% block canonical %}{% endblock %}"/>
        <meta name="theme-color" content="#4eb151">
        <meta property="og:title" content="{% block og_title %}{% endblock %}"/>
        <meta property="og:description" content="{% block og_description %}{% endblock %}"/> 
        <meta property="og:image" content="{% block og_image %}{% endblock %}"/> {# jpeg paysage 1200x630 #}
        <meta property="og:url" content="{% block og_link %}{% endblock %}"/>
        <meta property="og:type" content="{% block og_type %}{% endblock %}"/>
        {# types : website, article, book, profile, video, music, quiz, game, product, app, event, group, website, blog, object,  author #}
        <meta property="og:article:published_time" content="2023-08-03:00:00:00 " /> {# YYYY-MM-DDTHH:MM:SSZ #}
        <meta property="og:locale" content="fr_FR"/>{# fr_FR, en_US #}

        <meta property="og:author" content="yannick tindy">
        <meta property="og:site_name" content="Yannick Tindy">
        <link rel="robots" href="https://www.silenus.com/robots.txt">
        <meta name="robots" content="{% block robots %}{% endblock %}"> 
        <!-- Indexer et crawler cette page :index,follow -->
        <!-- Ne pas indexer mais crawler cette page : noindex,follow -->
        <!-- Ne pas indexer ni crawler cette page : noindex,nofollow-->
        <link rel="sitemap" href="https://www.silenus.fr/sitemap.xml">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>