{% extends 'base.html.twig' %}

{% block title %}Yannick Tindy CV{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    <style>
        .corpus{
            width: 100%;
            max-width: 992px%;
            display: flex;

            justify-content: center
        
        }
        .sidebar{
            position: sticky;
            top: 0;
            width: 100%;
            max-width: 360px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;

        }
        .sidebar__content{
            width: 100%;
            height: 100%;
            flex-grow: 1;
            background-size: cover;
            background-position: center;
            border-radius: 15px;
            overflow: hidden;
            border: 1px solid black;
        }

        .newtrunk{
            width: 100%;
            max-width: 768px;
        }

        .myHeader{
            width: 100%;
            max-width: 768px;
            /* height: 100vh; */
            diplay: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .myHeader__banner{
            position: relative;
            width: 100%;
            height: 300px;
            /* max-height: 300px; */
            background-size: cover;
            background-position: center;
        }

        .myheader__logo {
            position: absolute;
            top: 20px;
            left: 40px;
            width: 150px;
            height: 150px;            

            background-size: cover;
            background-position: center;

        }

        .myHeader__title {
        }

        .myHeader__content {
            flex: 1;
        }

        .myHeader__annonce {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .myHeader__present {
            
        }
        .myNav__list {
            display: flex;
            justify-content: center; 
        }

        .myNav__item {
            margin: 0 10px;
            list-style: none;
        }

        .crd {
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
            overflow: hidden;
            transition-duration: 0.4s;
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
        }

        .crd:hover {
            transform: scale(1.05);
        }

        .section-heading{
            width: 100%;
            height: 200px;
            /* max-height: 300px; */
            background-size: cover;
            background-position: center;

            display: flex;
            justify-content: space-between;
        }
        
        @media screen and (max-width: 992px) {
            .sidebar{
                max-width: 250px;
            }   
            
            .myHeader__banner{
                width: 100%;
                height: 250px;

                background-size: cover;
                background-position: center;
            }
        }

        @media screen and (max-width: 768px) {
            .sidebar{
                display: none;
            }

            .myheader__logo {
                position: absolute;
                top: 20px;
                left: 20px;
                width: 80px;
                height: 80px;
                background-size: cover;
                background-position: center;

            }
        }    
    </style>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div class="container-fluid bk-drk1 m-0 p-0">
    <div class="corpus">
        {# sidebar --------------------------------------------- #}
        <div class="sidebar pad2 bk-drk1 ">
            <div class="sidebar__content bk-drk " style="background-image: url('{{ asset('build/img/9-16/back1.png') }}');">
                
            </div>
        </div>

        {# newtrunk --------------------------------------------- #}
        <div class="newtrunk bk-drk2">
            {# header ------------------------------------------- #}
            <div class="myHeader fluid centVH">
                <div class="myHeader__banner" style="background-image: url('{{ asset('build/img/16-9/band0.png') }}');">
                    <div class="myheader__logo" style="background-image: url('{{ asset('build/img/gen/symfony.png') }}');"></div>
                </div>
                {# tiltes -------------------------------------------- #}
                <div class="myHeader__titles bk-blk fluid padx2 m-0">
                    <h2 class="txt-lum text-end">Yannick Tindy</h2>
                    <hr class="hr-succ">
                    <h1 class="txt-soft text-end pady1 m-0">Concepteur d'Applications <span class="txt-succ">SYMFONY</span></h1>       
                </div>
                {# nav----------------------------------------------- #}
                <ul class="myNav__list bk-drk3 m-0 pad1">
                    <li class="myNav__item">
                        <a href="#about" class="butn butn-succ marx1">SYMFONY</a>
                    </li>
                    <li class="myNav__item">
                        <a href="#" class="butn butn-succ marx1">CV</a>
                    </li>
                    <li class="myNav__item">
                        <a href="#" class="butn butn-succ marx1">BLOG</a>
                    </li>
                    <li class="myNav__item">
                        <a href="#" class="butn butn-succ marx1">MENU</a>
                    </li>
                </ul>
                <hr class="hr-blk">
                {# carousel + crd -------------------------------------------- #}
                <div class="py-5 py-md-0"></div> {# spacer -------------------------------------------- #}
                <div class="myHeader__content fluid pad2 disp-center">
                    <div class="myHeader__annonce block-shadow disp-center butn-glow fluid py-5">
                        <div class="disp-even-center fluid">
                            <div class="">
                                <h4 class="txt-soft">Recherche Poste</h4>
                                <h3 class="txt-succ">Développeur PHP SYMFONY</h3>
                            </div>
                            <div class="">
                                <a href="#presentation" class="butn butn-succ marx1">||</a>
                            </div>    
                        </div>
                    </div>  
                </div>  
                {# <div class="myHeader__down bk-blk fluid pad1">
                    <a href="#" class="btn btn-outline-light btn-sm text-end marx1">down</a>
                </div>     #}
            </div>
            {# presentation -------------------------------------------- #}
            <section id="presentation" class="centVH disp-col-between">
                <div class="section-heading pad1" style="background-image: url('{{ asset('build/img/16-9/band1.png') }}');">
                    <div class="section-heading__title block-shadow d-col-center pad2">
                        <h3 class="txt-succ">Présentation</h3>
                    </div>
                    <div class="section-heading__nav disp-col-even pad1">
                        <a href="#" class="butn butn-succ">||</a>
                        <a href="#" class="butn butn-succ">||</a>
                    </div>
                </div>    
                <div class="disp-center">

                        <div class="crd transfo box bk-drk1 marx3">
                            
                                <img class="fluid" src="{{ asset('build/img/square/logo512.png') }}" alt="silenus">
                            
                            <div class="crd__content p-2">
                                <p class="m-0">soustitre</p>
                                <a href="#" class="btn btn-outline-secondary btn-sm m-2">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </div>
                        </div>

                </div>
                <div class="fluid"> 

                </div>
            </section>
           
        </div>
    </div>
</div>    

    

{% endblock %}
