aside {
    position: sticky;
    width: 300px;
    height: 100vh;
    // background-image: url(../img/9-16/back1.png);
    background-size: cover;
}


.under-aside {
    width: 180px; 
}

.menu {
    height: 100vh;
    position : relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-content {
    // background-image: url('./asset/img/9-16/back1.png');

    position: absolute;
    top: 0%;
    left: 0%;
    
}

.bk-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profil {
    width : 200px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--succ);
}

.profil img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media screen and (max-width: 1200px) {
    aside {
        width: 250px;
    }
    .under-aside {
        width: 450px; 
    }
}

@media screen and (max-width: 800px) {
    aside{
        display: none;
    }
    .under-aside {
        display: none;
    }

}